{{#foreach posts}}
<article class="card {{#has number="2, 5, 8, 11, 14"}}card--large{{/has}} {{#has number="nth:3"}}card--medium{{/has}}">

    {{!-- entry meta < author avtar, name, fisrt tag, datetime> --}}
    {{>"card-meta"}}

    <div class="card-body u-paddingTop10">
        <a href="{{url}}" class="u-block">
            <h2 class="card-title u-contentTitle u-fontSize28 u-paddingBottom2 u-paddingTop5 u-lineHeight1 u-fontWeightBold">{{title}}</h2>
            <p class="card-excerpt u-paddingTop10 u-fontSizeBase u-card--p">{{excerpt words="25"}}</p>
        </a>

        {{#if feature_image}}
            <figure class="card-image u-overflowHidden u-marginTop30 u-relative">
                <a href="{{url}}" class="card-image--link u-block">
                    <img class="card-img u-block" src="{{feature_image}}" alt="{{title}}"/>
                </a>
            </figure>
        {{/if}}
    </div>

    <a href="{{url}}" class="u-block u-paddingTop15 u-fontSize15 u-hoverColorNormal u-textColorNormal">{{t "Read More"}}...</a>

    <footer class="u-paddingTop15 u-flex u-flexEnd">
        <div class="buttonSet">
            <a href="{{url}}#post-comments" class="button button--chromeless" title="Comments">
                {{!-- Disqus Comments Count --}}
                <i class="i-comments u-fontSizeLarge"></i>
                <span class="disqus-comment-count simply-disqus u-hide" data-disqus-url="{{url absolute="true"}}">0 {{t "Comments"}}</span>
                {{!-- Facebook Comments Counts --}}
                <span class="fb-comments-count simply-facebook u-hide" data-href="{{url absolute="true"}}">0</span>
                <span class="simply-facebook u-hide" >{{t "Comments"}}</span>
            </a>
        </div>
    </footer>
</article>
{{/foreach}}
