<article class="col s12 m4 u-marginBottom30 u-relative entry entry{{@number}} {{^if image}}not--image{{/if}}" >
    <div class="entry-image u-relative">
        <a href="{{url}}" class="entry-image--link u-borderLighter u-block u-absolute0 u-backgroundSizeCover simply-lazy lazy" data-original="{{image}}">
            {{#if image}}<span class="u-absolute0 u-backgroundDark" style="bottom:-1px;left:-1px;right:-1px;top:-1px"></span>{{/if}}
        </a>
    </div>
    <section class="entry-body u-paddingTop15">
        <a href="{{url}}" class="u-block">
            <h2 class="entry-title u-contentTitle u-fontSizeLarge u-paddingBottom2 u-paddingTop5 u-lineHeight1">{{title}}</h2>
            <p class="entry-excerpt u-paddingTop5 u-fontSizeBase">{{excerpt words="12"}}</p>
        </a>
        {{!-- entry meta < author avtar, name, fisrt tag, datetime> --}}
        {{>"entry-meta"}}
    </section>
</article>
