<article class="col s12 m6 u-marginBottom15 entry entry-{{@number}} {{#if @first}}first{{/if}}" >
    <figure class="entry-image u-relative">
        <a href="{{url}}" class="entry-image--link">
            {{#if image}}
            <img class="entry-img" src="{{image}}" alt="{{title}}" />
            <span class="u-bgfull" style="background-image: url({{image}})"></span>
            <span class="u-background-dark"></span>
            {{else}}
            <span class="namesite">{{@blog.title}}</span>
            <span class="u-background-white"></span>
            {{/if}}
        </a>
    </figure>
    <section class="entry-body u-md-marginBottom10 u-paddingTop15 u-marginBottom30">
        <a href="{{url}}">
            <h2 class="entry-title u-contentSansBold u-fontSizeLarge u-paddingBottom2">{{title}}</h2>
            <p class="u-fontSizeBase">{{excerpt characters="100"}}</p>
        </a>
        {{!-- entry meta < author avtar, name, fisrt tag, datetime> --}}
        {{>"entry-meta"}}
    </section>
</article>
