{{#foreach posts}}
<article class="entry u-card {{#if @even}}even{{/if}} {{#if featured}}entry--featured{{/if}}">
    {{!-- entry meta < author avtar, name, fisrt tag, datetime> --}}
    {{>"entry-meta"}}

    <section class="entry-body u-paddingTop10">
        <a href="{{url}}" class="u-block">
            <h2 class="entry-title u-contentTitle u-fontSize28 u-paddingBottom2 u-paddingTop5 u-lineHeight1 u-fontWeightBold">{{title}}</h2>
            <p class="entry-excerpt u-paddingTop10 u-fontSizeBase u-card--p">{{excerpt words="25"}}</p>
        </a>

        {{#if image}}
            <figure class="entry-image u-overflowHidden u-marginTop30 u-relative">
                <a href="{{url}}" class="entry-image--link u-block">
                    <img class="entry-img u-block" src="{{image}}" alt="{{title}}"/>
                </a>
            </figure>
        {{/if}}
    </section>

    <a href="{{url}}" class="u-block u-paddingTop15 u-fontSize15 u-hoverColorNormal u-textColorNormal">Read more...</a>

    <footer class="u-clear u-paddingTop15">
        <div class="u-floatRight">
            <a href="{{url}}#post-comments" class="button button--chromeless">
                {{!-- Disqus Comments Count --}}
                <span class="disqus-comment-count simply-disqus" data-disqus-url="{{url absolute="true"}}">0</span>
                {{!-- Facebook Comments Counts --}}
                <span class="fb-comments-count simply-facebook" data-href="{{url absolute="true"}}">0</span> Comments
            </a>

            <div class="fbSave button button--chromeless u-relative with-tooltip" data-tooltip="Save to Facebook" style="padding-left:0;vertical-align:middle;">
                <div class="fbSave-icon u-fontSizeLarge i-save--line"></div>
                <div class="fbSave-dropdown u-absolute u-overflowHidden u-lineHeight1"><div class="fb-save" data-uri="{{url absolute="true"}}" data-size="large"></div></div>
            </div>
        </div>
    </footer>

</article>
{{/foreach}}
