<footer class="footer">
    <section class="container">
        <div class="row">
            {{!-- About --}}
            <div class="col s12 m6 l4 u-marginBottom30 u-flexColumnTop">
                <div class="footer-items u-flexColumnTop u-flex--1">
                    <h3 class="footer-items-title u-underline u-fontSize22">{{t "About Us"}}</h3>
                    <div class="footer-b u-flex--1">
                        <p>{{@site.description}}</p>
                    </div>

                    {{!-- Social Media - partilas/widget/social-media.hbs --}}
                    {{> "widget/social-media"}}
                </div>
            </div>

            {{!-- Tag Cloud --}}
            <div class="col s12 m6 l4 u-marginBottom30 u-flexColumnTop">
                <div class="footer-items footer-tags u-flex--1">
                    <h3 class="footer-items-title u-underline u-fontSize22">{{t "Tags"}}</h3>
                    <div class="buttonSet">
                    {{#get "tags" limit="10" order="desc"}}
                        {{#foreach tags}}
                            <a href="{{url absolute="true"}}" title="{{name}}" class="u-textCapitalize button button--outline-success">{{name}}</a>
                        {{/foreach}}
                    {{/get}}
                    </div>
                </div>
            </div>

            {{!-- members subscribe --}}
            {{#if @labs.members}}
            <div class="col s12 m6 l4 u-marginBottom30 u-flexColumnTop">
                <div class="footer-items u-flex--1">
                    <h3 class="footer-items-title u-underline u-fontSize22">{{t "Subscribe"}}</h3>
                    <p class="u-marginBottom15">{{t "Get the best viral stories straight into your inbox!"}}</p>

                    {{!-- Form --}}
                    <form class="f-form" data-members-form="subscribe">
                        <input
                            class="f-form-input u-block subscribe-email u-marginBottom15"
                            data-members-email
                            placeholder="{{t "youremail@example.com"}}"
                            aria-label="{{t "youremail@example.com"}}"
                            aria-describedby="f-form-subscribe-btn"
                            autocomplete="off"
                            required
                        />

                        <button id="f-form-subscribe-btn" class="button button--success u-sizeFullWidth" type="submit">
                            <span class="button-text u-fontSizeBase">{{t "Subscribe"}}</span>
                            {{> "icons/loader"}}
                        </button>
                        <div class="message-success u-paddingTop15 u-hide">{{{t "<strong>Great!</strong> Check your inbox and click the link to confirm your subscription"}}}</div>
                        <div class="message-error u-paddingTop15 u-hide">{{t "Please enter a valid email address!"}}</div>
                    </form>
                </div>
            </div>
            {{/if}}

            {{!-- Copy --}}
            <div class="col s12 u-paddingTop20 u-textAlignCenter u-fontSizeSmaller">
                &copy; {{date format="YYYY"}} {{@site.title}}.
                Design with <svg class="icon animated infinite pulse" style="color:red;width:15px"><use xlink:href="#icon-heart"></use></svg> by <a href="https://godofredo.ninja" title="Developer FullStack.">@GodoFredoNinja</a>
            </div>
        </div>
    </section>
</footer>