<footer class="sft u-container u-paddingBottom30 u-paddingTop30">
    <section class="u-marginAuto u-maxWidth1200">
        <div class="row">
            {{!-- About me --}}
            <div class="col s12 m6 l4 u-marginBottom20">
                <div class="sft-c">
                    <h3 class="sft-t u-fontSize22">Acerca de mí</h3>
                    <div class="sft-b sft--a">
                        <p>Pretendo ser la mayor comunidad de Arte, Diseño Gráfico, Dibujos Animados, Fotografía/Photoshop, Cine, Anime, Vídeo Juego, Tecnologia, Gadgets, Código. Si te gusta el contenido, Ayúdame con una pequeña <a href="https://www.paypal.me/godofredoninja" target="_blank" rel="noopener noreferrer">donación en PayPal</a> — ¡Gracias por tu apoyo!</p>
                        <p>Email: <a itemprop="email" href="mailto:hello@godofredo.ninja">hello@godofredo.ninja</a></p>
                    </div>
                    <div class="sft-s">
                        {{#if @site.facebook}} <a href="{{facebook_url}}" title="Facebook {{@site.facebook}}" target="_blank" rel="noopener noreferrer" class="i-facebook"></a>{{/if}}
                        {{#if @site.twitter}} <a href="{{twitter_url}}" title="Twitter {{@site.twitter}}" target="_blank" rel="noopener noreferrer" class="i-twitter"></a>{{/if}}
                        <a href="https://instagram.com/godofredoninja" title="Instagram" target="_blank" rel="noopener noreferrer" class="i-instagram"></a>
                        <a href="https://www.youtube.com/GodoFredoNinja?sub_confirmation=1" title="YouTube" target="_blank" rel="noopener noreferrer" class="i-youtube"></a>
                        <a href="https://github.com/GodoFredoNinja" title="GitHub" target="_blank" rel="noopener noreferrer" class="i-github"></a>
                        <a href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="Rss" target="_blank" rel="noopener noreferrer" class="i-rss"></a>
                    </div>
                </div>
            </div>

            {{!-- Parners --}}
            <div class="col s12 m6 l4 u-marginBottom20">
                <div class="sft-c sft--p">
                    <h3 class="sft-t u-fontSize22">Partners</h3>
                    {{!-- Digial Ocean --}}
                    <p class="u-marginBottom15">
                        <a href="https://m.do.co/c/710a27a3b3de" class="u-block" target="_blank" rel="noopener noreferrer">
                            — <strong>Hosting</strong> $100 in credit over 60 days
                            <img class="u-block lazyload" style="padding-top:5px; opacity:.8" data-src="{{asset "images/digital-ocean.png"}}" alt="Digital Ocean"/>
                        </a>
                    </p>
                    {{!-- Mapache --}}
                    <p class="u-marginBottom15"><a href="https://github.com/godofredoninja/Mapache" class="u-block" target="_blank" rel="noopener noreferrer">— <strong>Mapache</strong> free theme for Ghost. Minimalist Material Design and Elegant theme</a></p>
                    {{!-- Simply --}}
                    <p><a href="https://github.com/godofredoninja/simply" class="u-block" target="_blank" rel="noopener noreferrer">— <strong>Simply</strong> free theme for Ghost. Simple and elegant theme inspired in Medium</a></p>
                </div>
            </div>

            {{!-- Channels --}}
            <div class="col s12 m6 l4 u-marginBottom20">
                <div class="sft-c">
                    <h3 class="sft-t u-fontSize22">Suscríbase</h3>
                    {{!-- Mailchimp --}}
                    <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
                    <div id="mc_embed_signup" class="u-marginBottom20 u-bgWhite" style="border-radius: 3px;">
                        <form action="https://ninja.us10.list-manage.com/subscribe/post?u=5c52d5a541f6ab2e8d6020e82&id=f5f6d462c4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <label for="mce-EMAIL" class="u-textColorDarker">Suscríbase a mi lista de correo</label>
                                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Tu correo electrónico" required>

                                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d79ba4e323939ef5e5fb36b00_e3b3df1982" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            </div>
                        </form>
                    </div>
                    {{!-- Youtube --}}
                    <div class="g-yts">
                        <script src="https://apis.google.com/js/platform.js" async></script>
                        <div class="g-ytsubscribe" data-channelid="UCrhKOVmSXv6p2p3lhxDT-Dw" data-layout="full" data-count="hidden"></div>
                    </div>
                </div>
            </div>
            {{!-- Copy --}}
            <div class="col s12 u-textAlignCenter u-fontSize15 u-fontWeightSemibold">
                <a href="https://goo.gl/2RuW4M" target="_blank" rel="noopener noreferrer"><i class="i-github" style="font-size:18px;margin-right:5px"></i> I'm open source</a>
                — Made with <span class="animated infinite pulse" style="display:inline-block">💖</span> in Perú
            </div>

        </div>
    </section>
</footer>
