<header class="header u-sizeFullWidth u-fontSizeSmaller u-container u-bgheader u-flexCenter">
    <div class="header-wrap u-flexCenter  u-maxWidth1100 u-marginAuto u-flex1">
        {{!-- Logo --}}
        <div class="header-left u-flex0">
            <a class="header-logo u-block u-lineHeight1 godo-tracking" href="{{@site.url}}" data-event-category="Header" data-event-action="Logo" data-event-label="Click" data-event-non-interaction="true">
                {{#if @site.logo}}
                    <img src="{{img_url @site.logo size="m"}}" alt="{{@site.title}}"/>
                {{else}}
                    <span class="u-fontSize28 u-fontWeightBold">{{@site.title}}</span>
                {{/if}}
            </a>
        </div>

        {{!-- Navigation --}}
        <nav class="header-center u-relative u-overflowHidden u-flex u-flex1 u-paddingRight20 u-flexCenter u-hide-before-lg u-menu-color" role="navigation" aria-label="Primary Menu">
            <ul class="mainMenu u-unstyled u-flex1" itemscope itemtype="http://schema.org/SiteNavigationElement" role="menu">
                {{navigation}}
            </ul>
        </nav>

        <div class="header-right u-flex0 u-flex u-flexEnd u-menu-color">
            {{!-- Social Media - partilas/widget/social-media.hbs --}}
            {{> "widget/social-media"}}

            {{!-- Toggle Searcg --}}
            <a href="#" aria-label="Search" class="js-search-open nav-search godo-tracking u-pointer u-hide" data-event-category="Header" data-event-action="Search" data-event-label="Click" data-event-non-interaction="true">
                <svg class="icon icon--search icon--md"><use xlink:href="#icon-search"></use></svg>
            </a>
            {{!-- Toggle Menu --}}
            <div class="js-menu-toggle menu-burger u-relative u-hide-after-lg u-pointer"><span></span><span></span><span></span></div>
        </div>
    </div>
</header>

{{!-- Menu Mobile --}}
{{>"sidenav"}}