<header class="header u-sizeFullWidth u-fontSizeSmaller u-bgheader u-flexCenter">
    <div class="header-wrap u-flexCenter container u-flex1">
        {{!-- Logo --}}
        <div class="header-left u-flex0">
            <a href="{{@site.url}}"
                class="header-logo u-block u-lineHeight1 godo-tracking"
                data-event-category="Header"
                data-event-action="Logo"
                data-event-label="Click"
                data-event-non-interaction="true">
                {{#if @site.logo}}
                    <img src="{{img_url @site.logo size="m"}}" alt="{{@site.title}}"/>
                {{else}}
                    <span class="u-fontSize28 u-fontWeightBold">{{@site.title}}</span>
                {{/if}}
            </a>
        </div>

        {{!-- Navigation --}}
        <nav class="header-center u-relative mainMenu u-overflowHidden u-flex u-flex1 u-paddingRight20 u-flexCenter u-hide-before-lg u-menu-color">
            {{navigation}}
        </nav>

        <div class="header-right u-flex0 u-flex u-flexEnd u-menu-color">
            {{^is "index, home, tag"}}
                {{#if @labs.members}}
                <div class="button button--success js-m-subscribe-toggle u-hide-before-md">{{t "Subscribe"}} </div>
                {{/if}}
            {{else}}
                {{!-- Social Media - partilas/widget/social-media.hbs --}}
                {{> "widget/social-media"}}
            {{/is}}

            <div class="header-action u-flexCenter">
                {{!-- Light and Dark Mode --}}
                <a href="javascript:;" class="js-dark-mode hla header-dark-mode" aria-label="Dark and Light Mode" >
                    <svg class="icon icon--moon"><use xlink:href="#icon-moon"></use></svg>
                    <svg class="icon icon--sunny u-hide"><use xlink:href="#icon-sunny"></use></svg>
                </a>

                {{!-- Toggle Searcg --}}
                <a href="javascript:;"
                    aria-label="Toggle Search"
                    class="js-search-open nav-search godo-tracking u-pointer u-hide"
                    data-event-category="Header"
                    data-event-action="Search"
                    data-event-label="Click"
                    data-event-non-interaction="true">
                    <svg class="icon icon--search"><use xlink:href="#icon-search"></use></svg>
                </a>

                {{!-- Toggle Menu --}}
                <div class="js-menu-toggle menu-burger u-relative u-hide-after-lg u-pointer"><span></span><span></span><span></span></div>
            </div>
        </div>
    </div>
</header>

{{!-- Menu Mobile --}}
{{>"sidenav"}}