{{!-- Header Template --}}
<header class="header u-sizeFullWidth u-relative">
    <div class="header-wrap u-backgroundSizeCover u-flexCenter"  {{#is "home"}}style="background-image:url({{@blog.cover}})"{{/is}}>
        <div class="u-maxWidth1040 u-sizeFullWidth u-container">
            <div class="header-top-section u-flexCenter">
                {{!-- header logo --}}
                <div class="u-flex1">
                    <a class="header-logo u-flexCenter u-relative" href="{{@blog.url}}">{{#if @blog.logo}}<img src="{{@blog.logo}}" alt="{{@blog.title}}"/>{{else}}{{@blog.title}}{{/if}}</a>
                </div>
                <div class="u-flex1 u-flex u-flexEnd">
                    {{!-- header follow if is not home page --}}
                    {{^is "home"}}{{>"widget-follow"}}{{/is}}

                    <a href="#" class="button-search--open u-relative button button--chromeless i-search u-fontSizeLarge u-hide-after-md"></a>
                    <a href="#" style="margin-right:-12px;" class="button-nav--toggle u-relative u-hide-after-md"><span></span><span></span><span></span></a>
                </div>
            </div>
            {{!-- Header description for home page --}}
            {{#is "home"}}{{#if @blog.description}}<div class="header-description u-fontSizeLarge u-hide-before-md">{{@blog.description}}</div>{{/if}}{{/is}}
        </div>
    </div>

    {{!-- Header Navigation --}}
    <nav class="u-hide-before-md u-fontSizeSmaller">
        <div class="u-maxWidth1040 u-container">
            <div class="nav u-flex u-flexCenter">
                {{navigation}}
                {{^is "home"}}<span class="nav-border"></span>{{/is}}
                <a href="#" class="button-search--open button button--chromeless u-fontSizeLarge i-search"></a>
                {{!-- nav follow active is home page --}}
                {{#is "home"}}{{>"widget-follow"}}{{/is}}
            </div>
        </div>
    </nav>

    {{!-- Side Nav for Mobile --}}
    {{>"sidenav"}}
</header>
