<div class="u-maxWidth1000 u-marginAuto">
    <div class="row u-paddingTop30">

        <div class="content col s12">
            <div class="feed-entry-content">
                <div class="feed-entry-wrap" data-page="{{#is "author"}}{{#author}}{{url}}{{/author}}{{/is}}{{#is "tag"}}{{#tag}}{{url}}{{/tag}}{{/is}}{{#is "paged"}}page/{{pagination.page}}{{/is}}">
                    {{!-- The tag below includes the post loop - partials/loop.hbs --}}
                    {{>"card"}}
                </div>
            </div>

            {{!-- Pagination --}}
            {{^is "paged"}}<a href="#" class="loadMore link--accent" data-page-total="{{pagination.pages}}">Load more</a>{{else}}{{"pagination"}}{{/is}}
        </div>

        {{!-- Sidebar --}}
        {{>"sidebar"}}

    </div>
</div>
