{{!-- Navigation Secondary for Footer --}}
{{#if isSecondary}}

<nav class="menu-secondary">
    <ul itemscope itemtype="http://www.schema.org/SiteNavigationElement" role="menu">

        {{#foreach navigation}}
        <li itemprop="name" role="menuitem" class="inline-block {{#unless @last}}separator{{/unless}}">
            <a itemprop="url" href="{{url absolute="true"}}"
                class="godo-tracking hover:text-primary font-medium p-2 inline-block"
                data-event-category="Footer"
                data-event-action="Menu"
                data-event-label="{{label}}"
                data-event-non-interaction="true">{{label}}</a>
        </li>
        {{/foreach}}

    </ul>
</nav>

{{else}}

{{!-- Navigation for Mobile --}}
{{#if navigationMobile}}

<ul>
    {{#foreach navigation}}
    <li>
        <a href="{{url absolute="true"}}" class="block px-5 py-2 font-medium text-22 leading-tight">{{label}}</a>
    </li>
    {{/foreach}}
</ul>

{{!-- Primary Navigation --}}
{{else}}

<nav class="header-center mainMenu relative flex items-center pr-5 flex-grow overflow-auto lg:overflow-visible">
    <ul itemscope
        itemtype="http://www.schema.org/SiteNavigationElement"
        class="nav hidden lg:flex whitespace-nowrap">

        {{#foreach navigation}}
        <li itemprop="name">
            <a itemprop="url"
                href="{{url absolute="true"}}"
                class="mainMenu-link godo-tracking h-16 flex items-center p-3 text-base {{#if current}}active text-primary font-medium{{else}}text-header-link hover:text-primary{{/if}}"
                data-event-category="Header"
                data-event-action="Menu"
                data-event-label="{{label}}"
                data-event-non-interaction="true">
                {{label}}
            </a>
        </li>
        {{/foreach}}

        {{!-- Has DropDown Menu --}}
        {{#if navigationDropDown}}
        <li class="dropdown is-hoverable">
            <a href="#" class="mainMenu-link dropdown-trigger h-16 flex items-center p-3 text-base text-header-link hover:text-primary">
                <span>{{t "More"}}</span>
                <svg class="icon is-small transform rotate-90"><use xlink:href="#icon-arrow-forward"></use></svg>
            </a>
            <div class="dropdown-menu whitespace-normal">
                <div class="dropdown-content">
                    <div class="js-dropdown-menu text-base">{{!-- <a href="#" class="dropdown-item hover:text-primary">Dropdown item</a> --}}</div>
                    {{#has any="@site.facebook, @site.twitter"}}<hr class="dropdown-divider my-3">{{/has}}
                    {{!-- Social Media - partials/widget/social-media.hbs --}}
                    {{> "widget/social-media" class="social-media"}}
                </div>
            </div>
        </li>
        {{/if}}

    </ul>
</nav>

{{/if}}
{{/if}}