<nav class="pagination u-maxWidth1000 u-marginAuto u-textAlignCenter u-fontSize15 u-marginTop30" role="navigation">
    {{#if prev}}
        <a class="newer-posts link--accent" href="{{page_url prev}}">&larr; {{t "Newer Posts"}}</a>
    {{/if}}
    <span class="page-number">{{t "Page"}} {{page}} {{t "of"}} {{pages}}</span>
    {{#if next}}
        <a class="older-posts link--accent" href="{{page_url next}}">{{t "Older Posts"}} &rarr;</a>
    {{/if}}
</nav>
