<div class="sidebar-items u-marginBottom30">
    <h3 class="sidebar-title u-fontSizeBase u-textColorDarker">{{widgetTitle}}</h3>

    {{#foreach widgetPosts}}
    <div class="sidebar-post simply-tracking" data-event-category="{{#is "tag"}}Tag{{else}}Author{{/is}}" data-event-action="Sidebar - Latest articles" data-event-label="{{url absolute="true"}}" data-event-non-interaction="1">
        <a href="{{url absolute="true"}}" class="sidebar-post--link u-block u-relative">
            <span class="sidebar-border u-flexCenter u-absolute u-fontSize28 u-lineHeight1 u-fontWeightSemibold">{{@number}}</span>
            <h3 class="sidebar-post--title u-fontSizeBase u-fontWeightNormal">{{title}}</h3>
        </a>
    </div>
    {{/foreach}}

</div>
