<div class="cr u-overflowHidden u-flexColumnTop u-relative u-flex1 {{#is "post"}}godo-tracking{{/is}}" {{#is "post"}}data-event-category="Article" data-event-action="Related Posts" data-event-label="{{url absolute="true"}}" data-event-non-interaction="true"{{/is}}>
    {{#if feature_image}}
    <a href="{{url}}" class="cr-img u-relative u-overflowHidden u-sizeFullWidth u-block">
        <img class="cr-imagen u-absolute u-image u-block blur-up lazyload"
            src="{{img_url feature_image size="s"}}"
            srcset="{{img_url feature_image size="xxs"}}"
            data-srcset="{{img_url feature_image size="s"}} 300w,{{img_url feature_image size="m"}} 600w"
            data-sizes="(max-width: 1000px) 400px, 600px"
            alt="{{title}}"
        />
    </a>
    {{/if}}

    <div class="cr-inner u-padding15 u-flexColumnTop">
        <div class="cr-body">
            {{#if feature_image}}
                <h2 class="cr-t u-fontSize21 u-lineClamp2 u-contentTitle" style="margin-bottom:5px"><a href="{{url}}">{{title}}</a></h2>
            {{else}}
                <h2 class="cr-t u-fontSize21 u-contentTitle"><a href="{{url}}">{{title}}</a></h2>
                <p class="cr-e u-paddingTop15">{{excerpt words="20"}}</p>
            {{/if}}
        </div>

        {{!-- Datetime - ReadingTime - partials/helper/helper-datetime.hbs --}}
        {{> "helper/helper-datetime"}}
    </div>

    {{!-- Link --}}
    <a href="{{url}}" class="u-absolute0 zindex3" aria-label="{{title}}"></a>
</div>
