<article class="story js-story flex flex-col grow relative mb-3{{#if story_class}} {{story_class}}{{/if}}">
    {{#if feature_image}}
        <figure class="story-image mb-5 h-52 relative border border-gray-300 bg-gray-200 overflow-hidden">
            <a href="{{url}}">
                <img class="story-img inset-image block blur-up lazyload"
                    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                    data-srcset="{{img_url feature_image size="xs"}} 100w,
                        {{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w"
                    data-sizes="auto"
                    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                />
                {{!-- <noscript><img class="story-img absolute u-image block" src="{{img_url feature_image size="s"}}"/></noscript> --}}
            </a>

            {{!-- Primary Tag- partials/components/primary-tag.hbs --}}
            {{#if primary_tag}}{{> "components/primary-tag" class="absolute top-3 right-3"}}{{/if}}
        </figure>

        <div class="story-body flex flex-col grow">
            {{!-- Date Time and reading Time - ./partials/components/datetime.hbs --}}
            {{#match @custom.story_meta "Read More"}}{{> "components/datetime" class="mb-3 text-sm font-medium text-gray-500"}}{{/match}}

            <h2 class="story-title text-2xl font-sans text-title leading-tight mb-3"><a href="{{url}}" class="block">{{title}}</a></h2>

            {{#if excerpt}}
            <p class="story-excerpt mb-5 text-lg leading-normal text-gray-500">
                <a href="{{url}}" class="block line-clamp-3">{{excerpt words="30"}}</a>
            </p>
            {{/if}}

            {{#match @custom.story_meta "Author"}}
            {{!-- Author - Primary Tag - Datetime - Read time - ./partials/components/author-meta.hbs --}}
            {{> "components/author-meta"}}

            {{else}}

            {{!-- Read more --}}
            <a href="{{url}}" class="link is-hover font-medium">{{t "Read more"}}<svg class="icon is-medium"><use xlink:href="#icon-arrow"></use></svg></a>
            {{/match}}
        </div>

    {{else}}

        <div class="story-body not-feature-image flex flex-col grow p-6 bg-blank rounded shadow-4xl transition-all hover:shadow-card-primary">
            {{#if primary_tag}}<div class="mb-4">{{> "components/primary-tag"}}</div>{{/if}}

            {{!-- Date Time and reading Time - ./partials/components/datetime.hbs --}}
            {{#match @custom.story_meta "Read More"}}{{> "components/datetime" class="mb-3 text-sm font-medium text-gray-500"}}{{/match}}

            <h2 class="story-title text-2xl font-sans text-title leading-tight mb-3"><a href="{{url}}" class="block">{{title}}</a></h2>

            {{#if excerpt}}
            <p class="story-excerpt mb-5 text-lg leading-normal text-gray-500">
                <a href="{{url}}" class="block line-clamp-3">{{excerpt words="30"}}</a>
            </p>
            {{/if}}

            {{#match @custom.story_meta "Author"}}
            {{!-- Author - Primary Tag - Datetime - Read time - ./partials/components/author-meta.hbs --}}
            {{> "components/author-meta"}}

            {{else}}

            {{!-- Read more --}}
            <a href="{{url}}" class="link is-hover font-medium">{{t "Read more"}}<svg class="icon is-medium"><use xlink:href="#icon-arrow"></use></svg></a>
            {{/match}}
        </div>

    {{/if}}
</article>