<div class="storySmall flex flex-col relative mb-4 w-full {{#is "post"}}godo-tracking{{/is}}"
    {{#is "post"}}data-event-category="Article"
    data-event-action="Related Posts"
    data-event-label="{{url absolute="true"}}"
    data-event-non-interaction="true"{{/is}}>

    {{#if feature_image}}
    <a href="{{url}}" class="storySmall-link flex flex-col grow">
        <figure class="relative w-full h-48">
            {{!-- Featured Image - ./partials/components/featured-image.hbs --}}
            {{> "components/featured-image" mediaImage=feature_image mediaAlt=feature_image_alt mediaSize="m" mediaLazy=true}}
        </figure>
        <div class="storySmall-inner py-4 flex flex-col justify-between grow">
            <h2 class="text-xl text-title leading-tight line-clamp-2 mb-2">{{title}}</h2>

            {{!-- Date Time and reading Time - ./partials/components/datetime.hbs --}}
            {{> "components/datetime"}}
        </div>
    </a>

    {{else}}

    <a href="{{url}}" class="flex flex-col grow justify-between p-6 rounded z-1">
        <div>
            <h2 class="text-xl text-title leading-tight">{{title}}</h2>
            <p class="pt-4 mb-2 break-words">{{excerpt words="20"}}...</p>
        </div>

        {{!-- Date Time and reading Time - ./partials/components/datetime.hbs --}}
        {{> "components/datetime" class="text-title text-sm"}}

    </a>
    <span class="inset-0 z-0 absolute bg-secondary rounded opacity-15" {{#if primary_tag.accent_color}}style="background-color:{{primary_tag.accent_color}}"{{/if}}></span>
    {{/if}}
</div>