<article class="js-story story-post pb-12 mb-12 border-b" style="border-color: var(--border-color)">
    <header class="story-post-header mb-5">
        <h2 class="text-2xl leading-tight text-title mb-5"><a href="{{url}}">{{title}}</a></h2>
        {{!-- Author - Primary Tag - Datetime - Read time - ./partials/components/author-meta.hbs --}}
        {{> "components/author-meta"}}
    </header>

    {{#if feature_image}}
    <figure class="story-post-media relative overflow-hidden rounded h-56 md:h-72">
        <a href="{{url}}">
            {{!-- Featured Image - ./partials/components/featured-image.hbs --}}
            {{> "components/featured-image" mediaImage=feature_image mediaAlt=feature_image_alt mediaSize="l" mediaLazy=true}}
        </a>
    </figure>
    {{/if}}

    <div class="story-post-body">
        <p class="my-5">{{excerpt}}</p>

        {{!-- Read More --}}
        <a href="{{url}}" class="tracking-wide" aria-label="{{title}}">
            <span class="transition-all hover:mr-2">{{t "Read more"}}</span>
            <svg class="icon is-medium ml-2"><use xlink:href="#icon-arrow"></use></svg>
        </a>
    </div>
</article>