<div class="font-semibold leading-tight godo-tracking"
    data-event-category="Article"
    data-event-action="{{#if storyTitle}}{{storyTitle}}{{/if}}"
    data-event-label="{{url absolute="true"}}"
    data-event-non-interaction="true">

    <a href="{{url}}" class="flex items-center gap-4{{#unless feature_image}} bg-blank p-6 shadow rounded transition-all hover:shadow-card-primary{{/unless}}">
        {{!-- Featured Image - ./partials/components/featured-image.hbs --}}
        {{> "components/featured-image" mediaImage=feature_image mediaAlt=feature_image_alt mediaClass=classImage mediaSize="s" mediaLazy=true}}

        <div class="flex-1 {{classBody}}">
            <span class="text-sm leading-none text-gray-500 mb-3 block font-normal">{{#if storyTitle}}{{storyTitle}}{{/if}}</span>
            <span class="text-lg text-title line-clamp-2">{{title}}</span>
        </div>
    </a>
</div>