<article class="story js-story flex flex-col grow relative mb-3{{#if story_class}} {{story_class}}{{/if}}">
    {{#if feature_image}}
        <figure class="story-image mb-5 h-52 relative bg-gray-200 overflow-hidden">
            <a href="{{url}}">
                {{!-- Featured Image - ./partials/components/featured-image.hbs --}}
                {{> "components/featured-image" mediaImage=feature_image mediaAlt=feature_image_alt mediaSize="m" mediaLazy=true}}
            </a>

            {{!-- Primary Tag- partials/components/primary-tag.hbs --}}
            {{#if primary_tag}}{{> "components/primary-tag" class="absolute top-3 right-3"}}{{/if}}
        </figure>

        <div class="story-body flex flex-col grow">
            {{!-- Date Time and reading Time - ./partials/components/datetime.hbs --}}
            {{!-- {{#match @custom.story_meta "Read More"}}{{> "components/datetime" class="mb-3 text-sm font-medium text-gray-500"}}{{/match}} --}}

            <h2 class="story-title text-22 font-sans text-title leading-tight mb-3"><a href="{{url}}" class="block">{{title}}</a></h2>

            {{#if excerpt}}
            <p class="story-excerpt mb-5 leading-normal text-lg">
                <a href="{{url}}" class="line-clamp-3 break-words">{{excerpt words="30"}}</a>
            </p>
            {{/if}}

            {{!-- [Author, Read More, None] - ./partials/components/meta-data.hbs --}}
            {{> "components/meta-data"}}
        </div>

    {{else}}

        <div class="story-body not-feature-image relative z-1 flex flex-col grow p-6 rounded">
            {{#if primary_tag}}<div class="mb-4">{{> "components/primary-tag"}}</div>{{/if}}
            {{!-- style="--color-primary:{{#if primary_tag.accent_color}}{{primary_tag.accent_color}}{{else}}#102b7b{{/if}}" --}}
            {{!-- Date Time and reading Time - ./partials/components/datetime.hbs --}}
            {{!-- {{#match @custom.story_meta "Read More"}}{{> "components/datetime" class="mb-3 text-sm font-medium text-gray-500"}}{{/match}} --}}

            <h2 class="story-title text-2xl font-sans text-title leading-tight mb-3"><a href="{{url}}" class="block">{{title}}</a></h2>

            {{#if excerpt}}
            <p class="story-excerpt mb-5 text-lg leading-normal text-title">
                <a href="{{url}}" class="block break-words">{{excerpt words="30"}}...</a>
            </p>
            {{/if}}

            {{!-- [Author, Read More, None] - ./partials/components/meta-data.hbs --}}
            {{> "components/meta-data"}}
        </div>

        <span class="inset-0 z-0 absolute bg-secondary rounded opacity-15" {{#if primary_tag.accent_color}}style="background-color:{{primary_tag.accent_color}}"{{/if}}></span>
    {{/if}}
</article>