<article class="col s12 u-flex">
    <div class="spc-c u-relative u-marginBottom30 u-sizeFullWidth">
        <a href="{{url}}" class="spc-c-img u-relative u-bgColorGrayLight u-block">
            {{#if feature_image}}
            <img class="u-absolute u-image u-block blur-up lazyload"
                src="{{img_url feature_image size="m"}}"
                srcset="{{img_url feature_image size="xxs"}}"
                data-srcset="{{img_url feature_image size="s"}} 300w,{{img_url feature_image size="m"}} 600w"
                data-sizes="(max-width: 1000px) 400px, 600px"
                alt="{{title}}"
            />
            {{/if}}
        </a>

        <div class="spc-c-body">
            {{> "helper/helper-author-meta"}}
            <h2 class="spc-c-title u-fontSizeLarger u-contentTitle u-marginBottom20 u-paddingTop15"><a href="{{url}}" class="u-relative zindex3">{{title}}</a></h2>
            <p class="spc-c-excerpt u-marginBottom20 u-fontSizeBase">{{excerpt words="30"}}</p>
            <a href="{{url}}" class="listen-btn button button--outline-success u-textUppercase u-relative zindex3">{{> "icons/icon-listen"}} {{t "Listen"}}</a>
        </div>

        {{!-- <a href="{{url}}" class="u-absolute0 zindex2" aria-label="{{title}}"></a> --}}
    </div>
</article>
