<footer class="footer pt-10">
    <section class="mx-auto container">
        <div class="row grid gap-16 lg:grid-cols-3 lg:gap-6">
            {{!-- About --}}
            <div class="footer-items">
                <h3 class="text-white mb-5 text-xl">{{t "About Us"}}</h3>
                <p class="mb-4">{{@site.description}}</p>

                {{!-- Social Media - partilas/widget/social-media.hbs --}}
                {{> "widget/social-media" class="footer-social-media"}}
            </div>

            {{!-- Tag Cloud --}}
            <div class="footer-items footer-tags leading-tight px-4">
                <h3 class="text-white mb-5 text-xl">{{t "Tags"}}</h3>
                {{#get "tags" limit="5" filter="visibility:public" include="count.posts" order="count.posts desc"}}{{#foreach tags}}
                <div class="mb-3 flex items-center justify-between">
                    <a href="{{url absolute="true"}}"
                        title="{{name}}"
                        class="capitalize pl-3 border-l-3 border-primary"
                        {{#if accent_color}}style="border-color:{{accent_color}}"{{/if}}>
                        {{name}}
                    </a>
                    <div class="footer-arrow"></div>
                </div>
                {{/foreach}}{{/get}}
            </div>

            {{!-- members subscribe --}}
            {{#if @site.members_enabled}}
            <div class="footer-items">
                <h3 class="text-white mb-5 text-xl">{{t "Subscribe"}}</h3>
                <p class="mb-4">{{t "Get the best viral stories straight into your inbox!"}}</p>

                {{!-- Form subscribe --}}
                <form class="simply-form" data-members-form="subscribe">
                    <input
                        class="footer-form-input"
                        data-members-email
                        type="email"
                        placeholder="{{t "youremail@example.com"}}"
                        aria-label="{{t "youremail@example.com"}}"
                        autocomplete="off"
                        required
                    />

                    <button class="button is-primary w-full mt-4" type="submit">
                        <span class="button-content">Continue</span>
                        {{> "icons/loader"}}
                    </button>

                    {{!-- success --}}
                    <div class="message-success p-2 rounded-md mt-4 hidden text-sm">
                        <span class="bg-success w-3 h-3 rounded-full inline-block"></span>
                        {{{t "<strong>Great!</strong> Check your inbox and click the link to confirm your subscription"}}}
                    </div>

                    {{!-- error --}}
                    <div class="message-error p-2 rounded-md mt-4 hidden text-sm">
                        <span class="bg-danger w-3 h-3 rounded-full inline-block"></span>
                        {{t "Please enter a valid email address!"}}
                    </div>
                </form>
            </div>
            {{/if}}
        </div>


        <div class="footer-bottom text-center text-sm py-8 mt-8{{#if @site.secondary_navigation}} flex flex-col justify-between lg:items-baseline lg:flex-row lg:text-left{{/if}}">
            {{!-- Footer Menu --}}
            {{#if @site.secondary_navigation}}<div class="py-4 lg:py-0 flex-none lg:order-1">{{navigation type="secondary"}}</div>{{/if}}

            {{!-- Copy --}}
            <div>
                &copy; {{date format="YYYY"}} {{@site.title}}. All rights reserved. Design with
                <svg class="icon is-small animate-pulse text-red-600"><use xlink:href="#icon-heart"></use></svg>
                by
                <a href="https://godofredo.ninja" title="Developer FullStack.">@GodoFredoNinja</a>
            </div>
        </div>
    </section>
</footer>