<footer class="pt-10 footer">
    <section class="container mx-auto">
        <div class="grid gap-16 row lg:grid-cols-3 lg:gap-8">
            {{!-- About --}}
            <div class="footer-items">
                <h3 class="mb-5 text-xl text-white">{{t "About Us"}}</h3>
                <p class="mb-4">{{@site.description}}</p>

                {{!-- Social Media - partilas/widget/social-media.hbs --}}
                {{> "widget/social-media" class="footer-social-media"}}
            </div>

            {{!-- Tag Cloud --}}
            <div class="px-4 leading-tight footer-items footer-tags">
                <h3 class="mb-5 text-xl text-white">{{t "Tags"}}</h3>
                {{#get "tags" limit="5" filter="visibility:public" include="count.posts" order="count.posts desc"}}{{#foreach tags}}
                <div class="flex items-center justify-between mb-3">
                    <a href="{{url absolute="true"}}"
                        title="{{name}}"
                        class="pl-3 capitalize border-l-3 border-primary"
                        {{#if accent_color}}style="border-color:{{accent_color}}"{{/if}}>
                        {{name}}
                    </a>
                    <div class="footer-arrow"></div>
                </div>
                {{/foreach}}{{/get}}
            </div>

            {{!-- members subscribe --}}
            {{#if @site.members_enabled}}
            <div class="footer-items">
                <h3 class="mb-5 text-xl text-white">{{t "Subscribe"}}</h3>
                <p class="mb-4">{{t "Get the best viral stories straight into your inbox!"}}</p>

                {{!-- Form subscribe --}}
                <form class="simply-form" data-members-form="subscribe">
                    <input
                        class="footer-form-input"
                        data-members-email
                        type="email"
                        placeholder="{{t "youremail@example.com"}}"
                        aria-label="{{t "youremail@example.com"}}"
                        autocomplete="off"
                        required
                    />

                    <button class="w-full mt-4 button is-primary" type="submit">
                        <span class="button-content">Continue</span>
                        {{> "icons/loader"}}
                    </button>

                    {{!-- success --}}
                    <div class="hidden p-2 mt-4 text-sm rounded-md message-success">
                        <span class="inline-block w-3 h-3 rounded-full bg-success"></span>
                        {{{t "<strong>Great!</strong> Check your inbox and click the link to confirm your subscription"}}}
                    </div>

                    {{!-- error --}}
                    <div class="hidden p-2 mt-4 text-sm rounded-md message-error">
                        <span class="inline-block w-3 h-3 rounded-full bg-danger"></span>
                        {{t "Please enter a valid email address!"}}
                    </div>
                </form>
            </div>
            {{/if}}
        </div>

        <div class="footer-bottom gap-8 text-center text-sm py-8 mt-8 flex flex-col justify-between {{#if @site.secondary_navigation}}lg:items-baseline lg:flex-row lg:text-left{{else}}items-center{{/if}}">
            {{!-- Footer Menu --}}
            {{navigation type="secondary"}}

            {{!-- Copy Right - partilas/components/copyright.hbs --}}
            {{> "components/copyright"}}
        </div>
    </section>
</footer>