<header class="header js-header h-16 w-full text-sm flex items-center sticky top-0 z-20">
    <div class="header-wrap mx-auto flex items-center flex-auto px-4 w-full max-w-extreme">
        {{!-- Logo --}}
        <div class="header-left mr-5 flex flex-none items-center">
            <a href="{{@site.url}}"
                class="header-logo inline-block leading-none godo-tracking"
                data-event-category="Header"
                data-event-action="Logo"
                data-event-label="Click"
                data-event-non-interaction="true">
                {{#if @site.logo}}
                    <img src="{{img_url @site.logo size="m"}}" class="header-logo-img max-h-9 logo-default" alt="{{@site.title}}" width="115" height="30"/>
                    {{!-- <img src="{{asset "images/logo-dark-mode.png"}}" class="header-logo-img max-h-9 hidden logo-dark-mode" alt="" width="115" height="30"/> --}}
                {{else}}
                    <span class="text-3xl font-bold text-logo">{{@site.title}}</span>
                {{/if}}
            </a>
        </div>

        {{!-- Navigation --}}
        {{#if @site.navigation}}
            {{#if hasDropDown}}
                {{navigation navigationDropDown=true}}
            {{else}}
                {{navigation}}
            {{/if}}
        {{/if}}

        <div class="header-right flex-none flex justify-end items-center">
            {{!-- Light and Dark Mode --}}
            <a role="button" class="js-dark-mode button is-white items-center mr-2" aria-label="Dark and Light Mode">
                <svg class="icon icon--moon m-0" style="margin-right:calc(-0.5em - 1px)"><use xlink:href="#icon-moon"></use></svg>
                <svg class="icon icon--sunny m-0 hidden" style="margin-left:calc(-0.5em - 1px)"><use xlink:href="#icon-sunny"></use></svg>
            </a>

            {{!-- Toggle Searcg --}}
            <a href="javascript:;"
                role="button"
                aria-label="Toggle Search"
                class="js-modal-button godo-tracking hidden button is-white mr-2"
                data-target="modal-search"
                aria-haspopup="true"
                data-event-category="Header"
                data-event-action="Search"
                data-event-label="Click"
                data-event-non-interaction="true">
                <svg class="icon icon--search"><use xlink:href="#icon-search"></use></svg>
            </a>

            {{!-- Menu User Account --}}
            {{#if @custom.disable_member}}{{> "layout/account-menu"}}{{/if}}

            {{!-- Toggle Menu --}}
            <a href="javascript:;" role="button" aria-label="Show Navigation Menu" class="js-menu-toggle menu-burger button is-white relative lg:hidden"><span></span><span></span><span></span></a>
        </div>
    </div>
</header>

{{!-- Menu Mobile --}}
{{>"sidenav"}}