<header class="header bg-header w-full text-sm flex items-center sticky top-0 z-20">
    <div class="header-wrap mx-auto flex items-center flex-auto px-4 w-full max-w-extreme">
        {{!-- Logo --}}
        <div class="header-left mr-5 flex-none">
            <a href="{{@site.url}}"
                class="header-logo inline-block leading-none godo-tracking"
                data-event-category="Header"
                data-event-action="Logo"
                data-event-label="Click"
                data-event-non-interaction="true">
                {{#if @site.logo}}
                    <img src="{{img_url @site.logo size="m"}}" class="header-logo-img max-h-9" alt="{{@site.title}}" width="115" height="30"/>
                {{else}}
                    <span class="text-3xl font-semibold">{{@site.title}}</span>
                {{/if}}
            </a>
        </div>

        {{!-- Navigation --}}
        {{#if @site.navigation}}{{navigation}}{{/if}}

        <div class="header-right flex-none flex justify-end u-menu-color">

            <div class="header-action flex items-center">
                {{!-- Light and Dark Mode --}}
                <a role="button" class="js-dark-mode p-2 items-center hidden md:flex" aria-label="Dark and Light Mode">
                    <svg class="icon icon--moon"><use xlink:href="#icon-moon"></use></svg>
                    <svg class="icon icon--sunny hidden"><use xlink:href="#icon-sunny"></use></svg>
                </a>

                {{!-- Toggle Searcg --}}
                <a href="javascript:;"
                    aria-label="Toggle Search"
                    class="js-modal-button godo-tracking hidden button is-white mr-2"
                    data-target="modal-search"
                    aria-haspopup="true"
                    data-event-category="Header"
                    data-event-action="Search"
                    data-event-label="Click"
                    data-event-non-interaction="true">
                    <svg class="icon icon--search"><use xlink:href="#icon-search"></use></svg>
                </a>

                {{!-- Button For Subscribe Modal --}}
                {{#if @labs.members}}
                <div class="js-modal-button button is-primary ml-3 hide-before-md text-sm font-medium" data-target="modal-subscribe" aria-haspopup="true">{{t "Subscribe"}}</div>
                {{/if}}

                {{!-- Toggle Menu --}}
                <div class="js-menu-toggle menu-burger button is-white relative ml-2 lg:hidden"><span></span><span></span><span></span></div>
            </div>
        </div>
    </div>
</header>

{{!-- Menu Mobile --}}
{{>"sidenav"}}

{{!-- Modal Form for user Subscribe --}}
{{#if @labs.members}}{{#contentFor "scripts"}}{{> "widget/modal-subscribe"}}{{/contentFor}}{{/if}}