<header class="header js-header h-16 w-full text-sm flex items-center top-0 z-20 sticky">
    <div class="header-wrap mx-auto grid grid-flow-row-dense gap-x-7 px-4 w-full max-w-extreme items-center {{#match @custom.header "Menu on the right"}}grid-cols-fr-auto-auto{{else}}grid-cols-auto-fr-auto{{/match}}">
        {{!-- Logo --}}
        <div class="header-left flex flex-none items-center">
            <a href="{{@site.url}}"
                class="header-logo inline-block leading-none relative godo-tracking"
                data-event-category="Header"
                data-event-action="Logo"
                data-event-label="Click"
                data-event-non-interaction="true">
                {{#if @site.logo}}
                    <img src="{{img_url @site.logo size="m"}}" class="header-logo-img max-h-9 logo-default" alt="{{@site.title}}" width="115" height="30"/>
                    {{!-- <img src="{{asset "images/logo-dark-mode.png"}}" class="header-logo-img max-h-9 hidden logo-dark-mode" alt="" width="115" height="30"/> --}}
                {{else}}
                    <span class="text-3xl font-bold text-logo">{{@site.title}}</span>
                {{/if}}
            </a>
        </div>

        {{!-- Navigation --}}
        {{#if @site.navigation}}
            {{#if hasDropDown}}
                {{navigation navigationDropDown=true}}
            {{else}}
                {{navigation}}
            {{/if}}
        {{/if}}

        <div class="header-right flex-none flex justify-end items-center">
            <div class="flex flex-wrap">
                {{!-- Light and Dark Mode --}}
                <a role="button" class="js-dark-mode button is-white" aria-label="Toggle theme">
                    <div class="flex flex-wrap">
                        <svg class="icon icon--moon"><use xlink:href="#icon-moon"></use></svg>
                        <svg class="icon icon--sunny hidden"><use xlink:href="#icon-sunny"></use></svg>
                    </div>
                </a>

                {{!-- Toggle Searcg --}}
                <a href="#/search"
                    role="button"
                    aria-label="Toggle Search"
                    class="godo-tracking button is-white"
                    aria-haspopup="true"
                    data-event-category="Header"
                    data-event-action="Search"
                    data-event-label="Click"
                    data-event-non-interaction="true"
                    data-ghost-search>
                    <svg class="icon icon--search"><use xlink:href="#icon-search"></use></svg>
                </a>
            </div>

            <div class="flex flex-wrap items-center">
                {{!-- Menu User Account --}}
                {{#if @site.members_enabled}}{{> "layout/account-menu"}}{{/if}}

                {{!-- Toggle Menu --}}
                <a href="javascript:;" role="button" aria-label="Show Navigation Menu" class="js-menu-toggle menu-burger button is-white relative lg:hidden"><span></span><span></span><span></span></a>
            </div>
        </div>
    </div>
</header>

{{!-- Menu Mobile --}}
{{>"sidenav"}}