{{!-- Email subscribe form at the Top of the page --}}
{{#if @labs.members}}

<aside class="m-subscribe u-fixed u-absolute0 u-flexColumnContentCenter u-flexCenter">
    {{!-- Bg --}}
    <div class="m-subscribe-shader u-absolute0 js-m-subscribe-toggle"></div>

    <div class="m-subscribe-content u-textAlignCenter u-relative zindex2">
        {{!-- Close --}}
        <span class="m-subscribe-close button button--circle button--dark js-m-subscribe-toggle">
            <svg class="icon"><use xlink:href="#icon-close"></use></svg>
        </span>

        <h4 class="m-subscribe-title u-fontSizeLarger u-marginBottom20 u-contentTitle u-fontWeightSemibold">{{t "Sign up for my newsletter!"}}</h4>
        <p class="m-subscribe-des u-fontSizeSmall u-textMuted u-marginBottom20">{{t "Stay up to date! Get all the latest & greatest posts delivered straight to your inbox"}}</p>

        {{!-- Form --}}
        <form class="f-form" data-members-form="subscribe">
            <input
                class="u-block subscribe-email u-marginBottom15 u-textAlignCenter"
                data-members-email
                placeholder="{{t "youremail@example.com"}}"
                aria-label="{{t "youremail@example.com"}}"
                aria-describedby="m-subscribe-btn"
                autocomplete="off"
                required
            />

            <button id="m-subscribe-btn" class="button button--primary u-sizeFullWidth u-fontWeightMedium" type="submit">
                <span class="button-text u-fontSizeBase">{{t "Subscribe"}}</span>
                {{> "icons/loader"}}
            </button>
            <div class="message-success u-textColorWhite u-marginTop20 u-hide text-success">{{{t "<strong>Great!</strong> Check your inbox and click the link to confirm your subscription"}}}</div>
            <div class="message-error u-textColorWhite u-marginTop20 u-hide">{{t "Please enter a valid email address!"}}</div>
        </form>
    </div>
</aside>

{{/if}}