<aside id="modal-subscribe" class="js-modal modal m-subscribe flex flex-col flex-wrap items-center justify-center fixed inset-0 z-50">
    {{!-- Bg --}}
    <div class="m-subscribe-shader absolute inset-0 bg-modal bg-opacity-60 js-modal-close"></div>

    <div class="modal-content text-center relative z-2 bg-blank px-5 py-6 rounded-md max-w-md m-5">
        {{!-- Close --}}
        <div class="button is-dark is-circle absolute js-modal-close" style="top:-1rem;right:-1rem">
            <svg class="icon"><use xlink:href="#icon-close"></use></svg>
        </div>

        <h4 class="m-subscribe-title text-4xl font-bold mb-5 text-title">{{t "Sign up for my newsletter!"}}</h4>
        <p class="m-subscribe-des text-base mb-5 text-gray-500">{{t "Stay up to date! Get all the latest & greatest posts delivered straight to your inbox"}}</p>

        {{!-- Form subscribe --}}
        <form class="simply-form" data-members-form="subscribe">
            <input
                class="modal-form-input text-center"
                data-members-email
                type="email"
                placeholder="{{t "youremail@example.com"}}"
                aria-label="{{t "youremail@example.com"}}"
                aria-describedby="m-subscribe-btn"
                autocomplete="off"
                required
            />

            <button id="m-subscribe-btn" class="button is-dark-blue w-full mt-4" type="submit">
                <span class="button-content">{{t "Subscribe"}}</span>
                <span class="button-loader hidden">{{> "icons/loader"}}</span>
            </button>

            {{!-- success --}}
            <div class="message-success mx-auto max-w-xl w-full bg-success text-white p-2 rounded-md mt-4 hidden text-sm">
                {{{t "<strong>Great!</strong> Check your inbox and click the link to confirm your subscription"}}}
            </div>

            {{!-- error --}}
            <div class="message-error mx-auto max-w-xl w-full bg-danger text-white p-2 rounded-md mt-4 hidden text-sm">
                {{t "Please enter a valid email address!"}}
            </div>
        </form>
    </div>
</aside>