<div id="modal-search" class="js-modal modal search flex flex-col flex-wrap items-center fixed inset-0 z-50">
    {{!-- Bg --}}
    <div class="absolute inset-0 bg-modal bg-opacity-60 js-modal-close"></div>

    {{!-- Close --}}
    <div class="button is-black is-circle absolute js-modal-close z-3 lg:hidden" style="top:5px;right:5px">
        <svg class="icon"><use xlink:href="#icon-close"></use></svg>
    </div>

    <div class="modal-content relative z-2 max-w-2xl w-full pt-vw6 px-5 pb-5">
        <div class="search-wrap bg-blank rounded-md shadow-sm">
            {{!-- search form --}}
            <form class="search-form flex w-full items-center text-base px-3 h-12">
                <svg class="icon icon--search"><use xlink:href="#icon-search"></use></svg>
                <input id="search-field" class="w-full is-medium" type="text" placeholder="{{t "Search"}}..." aria-label="Search box"/>
            </form>
            {{!-- show a message to the user if there is no post --}}
            <span class="js-search-message search-message text-sm p-2 text-gray-500 leading-none hidden">{{t "No results found"}}</span>
            {{!-- Search results --}}
            <ul id="search-results" class="search-results mx-auto w-full leading-none overflow-auto"></ul>
        </div>
        {{!-- showing the function keys --}}
        <div class="justify-end text-xs leading-none text-white mt-2 hidden md:flex opacity-80">
            <div class=""><span class="p-1 rounded bg-orange inline-block">↑</span> <span class="p-1 rounded bg-orange inline-block">↓</span> {{t "Navigate up/down"}}</div>
            <div class="ml-3"><span class="p-1 rounded bg-orange inline-block">Enter</span> {{t "Go to article"}}</div>
            <div class="ml-3"><span class="p-1 rounded bg-orange inline-block">Esc</span> {{t "Close search"}}</div>
        </div>
    </div>
</div>