<div class="search u-fixed u-flexColumnTop u-flexCenter u-fixed u-absolute0">
    <div class="js-search-close search-shader u-absolute0 zindex1"></div>
    {{!-- Close Search --}}
    <div class="js-search-close button button--circle button--dark search-close zindex3 u-hide-after-lg">
        <svg class="icon icon--close icon--md"><use xlink:href="#icon-close"></use></svg>
    </div>

    <div class="search-inner u-relative u-marginAuto zindex2">
        <div class="search-wrap">
            {{!-- search form --}}
            <form class="search-form u-sizeFullWidth u-flex u-flexCenter u-fontSizeBase">
                <svg class="icon icon--search icon--md icon--gray"><use xlink:href="#icon-search"></use></svg>
                <input id="search-field" class="u-sizeFullWidth input--md" type="text" placeholder="{{t "Search"}}..." aria-label="Search box"/>
            </form>
            {{!-- show a message to the user if there is no post --}}
            <span class="js-search-message search-message u-block u-hide">{{t "No results found"}}</span>
            {{!-- Search results --}}
            <div id="search-results" class="search-results u-marginAuto u-sizeFullWidth"></div>
        </div>
        {{!-- showing the function keys --}}
        <div class="search-nav-hints u-flex u-flexEnd u-hide-before-lg">
            <div class="search-nav-hint"><span>↑</span> <span>↓</span> {{t "Navigate up/down"}}</div>
            <div class="search-nav-hint"><span>Enter</span> {{t "Go to article"}}</div>
            <div class="search-nav-hint"><span>/</span> {{t "Search new term"}}</div>
            <div class="search-nav-hint"><span>Esc</span> {{t "Close search"}}</div>
        </div>
    </div>
</div>
