<aside class="post-sticky u-flexColumnTop u-hide-before-lg">
    <div class="sticky-top-wrap u-flexColumnTop">
        <div class="sticky">
            <div class="share-label u-textColorNormal u-fontSizeSmaller u-textUppercase">SHARE</div>

            <div class="post-share u-textAlignCenter u-marginTop20">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="{{t "Share on"}} Facebook"
                    class="godo-tracking button button--circle bg-facebook js-share"
                    data-event-category="Article"
                    data-event-action="Share"
                    data-event-label="Facebook"
                    data-event-non-interaction="true">
                    <svg class="icon"><use xlink:href="#icon-facebook"></use></svg>
                </a>
                <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="{{t "Share on"}} Twitter"
                    class="godo-tracking button button--circle bg-twitter js-share"
                    data-event-category="Article"
                    data-event-action="Share"
                    data-event-label="Twitter"
                    data-event-non-interaction="true">
                    <svg class="icon"><use xlink:href="#icon-twitter"></use></svg>
                </a>
                <a href="https://www.reddit.com/submit?url={{url absolute="true"}}&amp;title={{encode title}}"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="{{t "Share on"}} Redit"
                    class="godo-tracking button button--circle bg-reddit js-share"
                    data-event-category="Article"
                    data-event-action="Share"
                    data-event-label="Reddit"
                    data-event-non-interaction="true">
                    <svg class="icon"><use xlink:href="#icon-reddit"></use></svg>
                </a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}&amp;title={{encode title}}"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="{{t "Share on"}} Linkedin"
                    class="godo-tracking button button--circle bg-linkedin js-share"
                    data-event-category="Article"
                    data-event-action="Share"
                    data-event-label="Linkedin"
                    data-event-non-interaction="true">
                    <svg class="icon"><use xlink:href="#icon-linkedin"></use></svg>
                </a>
                <a href="http://pinterest.com/pin/create/button/?url={{url absolute="true"}}"
                    target="_blank"
                    rel="noopener noreferrer"
                    aria-label="{{t "Share on"}} Pinterest"
                    class="godo-tracking button button--circle bg-pinterest js-share"
                    data-event-category="Article"
                    data-event-action="Share"
                    data-event-label="Pinterest"
                    data-event-non-interaction="true">
                    <svg class="icon"><use xlink:href="#icon-pinterest"></use></svg>
                </a>
            </div>
        </div>
    </div>
</aside>
