{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#author}}

{{!-- custom Styles For tag <body> --}}
{{#contentFor "simply_class_body"}}is-author {{#if cover_image}}has-featured-image{{/if}}{{/contentFor}}

{{!-- Author content --}}
<div class="author u-relative u-flex u-flexWrap u-boxShadowBottom u-paddingBottom30 u-paddingTop30 {{#if cover_image}}has--image{{/if}}">
    <span class="cover-lazy lazy u-absolute0 u-backgroundSizeCover" data-original="{{cover_image}}"></span>
    {{#if cover_image}}<span class="u-absolute0 u-backgroundDark" style="z-index-1"></span>{{/if}}

    <article class="author-wrap u-flexCenter u-flexColumn u-relative u-maxWidth1040 u-container u-paddingTop20 u-paddingBottom20 u-textAlignCenter" style="z-index:2">
        <div class="author-header u-paddingBottom20 u-textAlignCenter">
            {{!-- author avatar --}}
            <div  class="author-avatar animated bounceInDown u-round u-backgroundSizeCover u-relative u-marginAuto {{^if profile_image}}no-avatar{{/if}}" style="background-image:url({{profile_image}})">
                <div class="u-absolute u-accentColor--iconNormal svgIcon" style="width: calc(100% + 14px);height: calc(100% + 14px);top:-7px;left:-7px;"><svg viewBox="0 0 114 114" xmlns="http://www.w3.org/2000/svg"><path d="M7.66922967,32.092726 C17.0070768,13.6353618 35.9421928,1.75 57,1.75 C78.0578072,1.75 96.9929232,13.6353618 106.33077,32.092726 L107.66923,31.4155801 C98.0784505,12.4582656 78.6289015,0.25 57,0.25 C35.3710985,0.25 15.9215495,12.4582656 6.33077033,31.4155801 L7.66922967,32.092726 Z"></path><path d="M106.33077,81.661427 C96.9929232,100.118791 78.0578072,112.004153 57,112.004153 C35.9421928,112.004153 17.0070768,100.118791 7.66922967,81.661427 L6.33077033,82.338573 C15.9215495,101.295887 35.3710985,113.504153 57,113.504153 C78.6289015,113.504153 98.0784505,101.295887 107.66923,82.338573 L106.33077,81.661427 Z"></path></svg></div>
            </div>

            {{!-- Author name --}}
            <h1 class="author-name animated bounceIn u-contentTitle u-fontSizeLarger u-md-fontSizeBase u-marginTop20">{{name}}</h1>
        </div>

        {{!-- author biography --}}
        {{#if bio}}<p class="author-bio u-marginAuto u-paddingBottom30">{{bio}}</p>{{/if}}

        {{!-- Author (Location - website - RSS) --}}
        <div class="author-meta u-paddingBottom30">
            {{#if location}}<span class="author-location"><i class="i-location"></i> {{location}}</span>{{/if}}
            {{#if website}}<span class="author-link"><a href="{{website}}" target="_blank"><i class="i-link"></i> {{website}}</a></span>{{/if}}
            <span class="author-stats"><a href="http://cloud.feedly.com/#subscription/feed/{{url absolute="true"}}rss/" target="_blank"><i class="i-rss"></i> {{plural ../pagination.total empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}}</a></span>
        </div>

        {{!-- Author Facebook and Twitter --}}
        <div class="author-follow buttonSet">
            {{#if facebook}}<a class="button button--primary u-borderRadius2 u-fontSizeSmall" href="{{facebook_url}}" title="Facebook" target="_blank"><i class="i-facebook"></i> Facebook</a>{{/if}}
            {{#if twitter}}<a class="button button--primary u-borderRadius2 u-fontSizeSmall" href="{{twitter_url}}" title="{{twitter}}" target="_blank"><i class="i-twitter"></i> Twitter</a>{{/if}}
        </div>
    </article>

</div>
{{/author}}


{{!-- The tag below includes the post loop - partials/loop.hbs --}}
{{>"loop"}}
