{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#author}}

{{!-- custom Styles For tag <body> --}}
{{#contentFor "special_body_class"}}is-author has-cover is-transparent{{/contentFor}}

{{!-- Author content --}}
<div class="author cover u-boxShadowBottom">
    {{#if cover_image}}
    <span class="u-absolute0 cover-gradient zindex2"></span>
    <img class="u-absolute0 u-image u-block zindex1 blur-up lazyload"
        src="{{img_url cover_image size="m"}}"
        srcset="{{img_url cover_image size="xxs"}}"
        data-srcset="{{img_url cover_image size="s"}} 300w,
            {{img_url cover_image size="m"}} 600w,
            {{img_url cover_image size="l"}} 1000w,
            {{img_url cover_image size="xl"}} 2000w"
        data-sizes="(max-width: 800px) 400px, (max-width: 1170px) 700px, 1400px"
        alt="{{name}}"
    />
    {{/if}}

    <article class="cover-wrap container u-flexColumnTop u-relative u-textAlignCenter zindex3">

        {{!-- author avatar --}}
        <figure class="author-avatar animated bounceInDown u-round  u-relative u-marginAuto">
            <img class="u-absolute u-image u-block u-round" src="{{#if profile_image}}{{img_url profile_image size="s"}}{{else}}{{asset "images/avatar.png"}}{{/if}}" alt="{{t "Hi I'm"}} {{name}}"/>
        </figure>

        {{!-- Author name --}}
        <h1 class="cover-title animated bounceIn u-fontSize40 u-md-fontSize36 u-marginTop20 u-underline">{{name}}</h1>

        {{!-- author biography --}}
        {{#if bio}}<p class="cover-des u-marginAuto u-marginBottom30 u-fontSize20">{{bio}}</p>{{/if}}

        {{!-- Author (Location - website - RSS) --}}
        <div class="author-meta buttonSet">
            {{#if location}}
                <span class="author-location button"><svg class="icon"><use xlink:href="#icon-map"></use></svg> {{location}}</span>
            {{/if}}

            {{#if website}}
                <a href="{{website}}" class="author-link button" target="_blank" rel="noopener noreferrer">
                    <svg class="icon"><use xlink:href="#icon-link"></use></svg>
                    {{website}}
                </a>
            {{/if}}

            <a href="https://feedly.com/i/subscription/feed/{{url absolute="true"}}rss/" class="author-stats button" target="_blank" rel="noopener noreferrer">
                <svg class="icon"><use xlink:href="#icon-rss"></use></svg>
                {{plural ../pagination.total empty=(t "No posts") singular=(t "1 post") plural=(t "% posts")}}
            </a>
        </div>

        {{!-- Author Facebook and Twitter --}}
        <div class="author-follow buttonSet u-marginTop30">
            {{#if facebook}}<a href="{{facebook_url}}" title="Facebook" class="button u-textColorWhite bg-facebook" target="_blank" rel="noopener noreferrer"><svg class="icon"><use xlink:href="#icon-facebook"></use></svg> Facebook</a>{{/if}}
            {{#if twitter}}<a href="{{twitter_url}}" title="{{twitter}}" class="button u-textColorWhite bg-twitter" target="_blank" rel="noopener noreferrer"><svg class="icon"><use xlink:href="#icon-twitter"></use></svg> Twitter</a>{{/if}}
        </div>
    </article>
</div>
{{/author}}

{{!-- The tag below includes the post loop - partials/loop.hbs --}}
{{>"loop"}}