{{!-- Layout --}}
{{!< default}}

{{!-- Class for <body> --}}
{{#contentFor "special_body_class"}}archive-author{{/contentFor}}
{{#contentFor "special_site_main_class"}}site-archive{{/contentFor}}

<div class="container">
    <section class="row">
        {{#post}}
        <header class="col s12 u-marginBottom40 u-paddingBottom10 u-textAlignCenter">
            <h1 class="site-archive-title u-underline u-fontSizeLargest u-md-fontSize36 u-contentTitle">{{title}}</h1>
            {{#if custom_excerpt}}<p class="site-archive-des u-fontSize20 u-marginAuto u-maxWidth740">{{custom_excerpt}}</p>{{/if}}
        </header>
        {{/post}}

        {{#get "authors" limit="all"}}
        {{#foreach authors}}

        <div class="col s12 m6 l4 u-flexColumnTop">
            <article class="author-card u-marginBottom30 u-relative u-flexColumnTop u-flex--1">
                <header class="u-flex--1">
                    <h2 class="author-card-name u-fontSizeLarge u-textCapitalize"><a href="{{url}}">{{name}}</a></h2>
                    {{#if bio}}<p class="author-card-bio u-paddingTop15">{{bio}}</p>{{/if}}
                </header>

                <footer class="u-relative u-textAlignCenter u-paddingTop20 u-flex u-flexCenter">
                    <div class="author-card-media u-flex1">
                        {{#if facebook}}<a href="{{facebook_url}}" title="Facebook" target="_blank" rel="noopener noreferrer"><svg class="icon icon--md"><use xlink:href="#icon-facebook"></use></svg></a>{{/if}}
                        {{#if twitter}}<a href="{{twitter_url}}" title="{{twitter}}" target="_blank" rel="noopener noreferrer"><svg class="icon icon--md"><use xlink:href="#icon-twitter"></use></svg></a>{{/if}}
                        {{#if website}}<a href="{{website}}" title="{{website}}" target="_blank" rel="noopener noreferrer"><svg class="icon icon--md"><use xlink:href="#icon-link"></use></svg></a>{{/if}}
                    </div>

                    <img class="author-card-avatar u-image u-round" src="{{#if profile_image}}{{img_url profile_image size="s"}}{{else}}{{asset "images/avatar.png"}}{{/if}}" alt="{{t "Hi I'm"}} {{name}}" />
                </footer>

                {{!-- Link --}}
                <a href="{{url}}" class="u-absolute0 zindex2" aria-label="{{name}}"></a>
            </article>
        </div>

        {{/foreach}}
        {{/get}}
    </section>
</div>