{{!-- Layout --}}
{{!< default}}

{{#contentFor "special_body_class"}}is-article is-image{{/contentFor}}

{{#post}}

{{#contentFor "simply_image_post"}}
    <div class="u-container u-maxWidth740 u-paddingTop30">
        {{!-- Meta - partials/helper/helper-meta.hbs --}}
        {{> "helper/helper-author-meta"}}
    </div>

    <div class="pif-wrap u-relative">
        {{!-- Article image --}}
        {{#if feature_image}}
        <img
            srcset="{{img_url feature_image size="s"}} 300w,
                    {{img_url feature_image size="m"}} 600w,
                    {{img_url feature_image size="l"}} 1000w,
                    {{img_url feature_image size="xl"}} 2000w"
            sizes="(max-width: 800px) 400px, (max-width: 1170px) 700px, 1400px"
            src="{{img_url feature_image size="xl"}}"
            alt="{{title}}"
            class="pif-img u-absolute u-image u-block"
        />
        {{/if}}

        <header class="post-header u-container u-maxWidth740 u-absolute zindex3">
            {{!-- Article Title --}}
            <h1 class="post-title u-fontSize40 u-contentTitle u-md-fontSizeLarger">{{title}}</h1>
            {{!-- Article Excerpt  --}}
            {{#if custom_excerpt}}<p class="post-excerpt u-textColorNormal">{{custom_excerpt}}</p>{{/if}}
        </header>
        {{!-- bg --}}
        <div class="u-absolute0 zindex2 pif-grad"></div>
    </div>
{{/contentFor}}

{{/post}}

{{!-- Article --}}
{{> "article/article"}}
