{{!-- Layout --}}
{{!< default}}

<section class="topic u-container u-maxWidth1000 u-paddingTop30">
{{#post}}
    <div class="topic-header u-marginBottom40 u-paddingTop10">
        <h1 class="topic-t u-fontSizeLarger u-contentTitle">{{title}}</h1>
    </div>
{{/post}}

{{#get "tags" limit="all" include="count.posts" order="count.posts desc"}}

<div class="row">

    {{#foreach tags}}

    <div class="col s12 m6 l4 u-marginBottom30">
        <div class="topic-items u-relative">
            <div class="topic-h u-flexCenter">
                <h2 class="u-fontSize22 u-contentTitle u-flex1"><a href="{{url}}">{{name}}</a></h2>
                <div class="topic-c u-flex0 u-textAlignCenter u-round u-fontWeightSemibold u-fontSizeBase">{{count.posts}}</div>
            </div>
            <div class="topic-img u-bgCover simply-lazy u-bgColorGrayLight" data-src="{{#if feature_image}}{{feature_image}}{{else}}{{asset "images/not-image.jpg"}}{{/if}}"></div>
            <a href="{{url}}" class="u-absolute0 zindex2"></a>
        </div>
    </div>

    {{/foreach}}

</div>

{{/get}}

</section>
