{{!-- Layout --}}
{{!< default}}

{{#contentFor "special_body_class"}}topic{{/contentFor}}

{{#post}}
<header class="relative overflow-hidden text-center text-white px-4 py-12 md:py-vw6{{#unless feature_image}} tag-gradient{{/unless}}" style="--tag-gradient:var(--tag-gradient-two)">
    <div class="mx-auto max-w-2xl relative z-3">
        <h1 class="capitalize text-4xl lg:text-5xl">{{title}}</h1>
        <div class="mt-5 text-xl">{{content}}</div>
    </div>

    {{!-- Featured Image - ./partials/components/featured-image.hbs --}}
    {{> "components/featured-image" mediaImage=feature_image mediaAlt=title mediaClass="inset-image brightness-50"}}
</header>
{{/post}}

{{#get "tags" limit="18" filter="visibility:public" include="count.posts" order="count.posts desc"}}
<section class="container mx-auto py-8 lg:py-16">
    <div class="max-w-1100 mx-auto grid md:grid-cols-2 lg:grid-cols-3 gap-8">

        {{#foreach tags}}
        <article class="topic-story relative bg-dark overflow-hidden rounded-md" {{#if accent_color}}style="background-color:{{accent_color}}"{{/if}}>
            <header class="relative text-white z-4 text-center w-full px-4 py-16 lg:px-6">
                <div class="text-xs uppercase mb-3 opacity-90 tracking-widest font-medium">{{plural count.posts empty=(t "No Stories") singular=(t "1 Story") plural=(t "% Stories")}}</div>
                <h2 class="text-2xl capitalize font-semibold tracking-wide"><a href="{{url}}">{{name}}</a></h2>
            </header>

            {{!-- Featured Image - ./partials/components/featured-image.hbs --}}
            {{> "components/featured-image" mediaImage=feature_image mediaAlt=name mediaSize="s" mediaClass="inset-image brightness-50" mediaLazy=true}}

            <a href="{{url}}" class="absolute inset-0 z-4" aria-label="{{name}}"></a>
        </article>
        {{/foreach}}

    </div>
</section>

{{/get}}