{{!-- Layout --}}
{{!< default}}

{{!-- Class for <body> --}}
{{#contentFor "special_body_class"}}archive-author bg-gray-150{{/contentFor}}

{{#post}}
<header class="author-header relative overflow-hidden text-center px-4 py-vw8">
    <div class="mx-auto max-w-2xl relative z-2">
        <h1 class="text-4xl text-black lg:text-6xl">{{title}}</h1>
        <div class="mt-5 text-xl text-black opacity-70">{{content}}</div>
    </div>

    {{!-- Featured Media - partials/components/media-cover.hbs --}}
    {{> "components/media-cover" background=feature_image alt_title=title}}

    {{#unless feature_image}}
    <img class="inset-image blur-up lazyload"
        src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
        data-src="{{asset "images/simply-title.jpg"}}"
        width="1200"
        height="628"
        alt="{{title}}"
    />
    {{/unless}}
</header>
{{/post}}

{{#get "authors" limit="all"}}

<div class="container mx-auto grid gap-10 py-vmin8 md:grid-cols-2 lg:grid-cols-4">
    {{#foreach authors}}
        <article class="author-card flex flex-col text-center">
            <img class="author-card-avatar object-cover mx-auto rounded-full w-52 h-52" src="{{#if profile_image}}{{img_url profile_image size="s"}}{{else}}{{asset "images/avatar.png"}}{{/if}}" alt="{{t "Hi I'm"}} {{name}}" />

            <h2 class="author-card-name text-title capitalize text-2xl mt-5 hover:text-primary"><a href="{{url}}">{{name}}</a></h2>
            {{#if bio}}<p class="author-card-bio text-gray-500 line-clamp-3 mt-3 leading-relaxed">{{bio}}</p>{{/if}}

            <div class="pt-5 space-x-2">
                {{#if facebook}}<a href="{{facebook_url}}" class="button is-white" title="Facebook" target="_blank" rel="noopener noreferrer"><svg class="icon"><use xlink:href="#icon-facebook"></use></svg></a>{{/if}}
                {{#if twitter}}<a href="{{twitter_url}}" class="button is-white" title="{{twitter}}" target="_blank" rel="noopener noreferrer"><svg class="icon"><use xlink:href="#icon-twitter"></use></svg></a>{{/if}}
                {{#if website}}<a href="{{website}}" class="button is-white" title="{{website}}" target="_blank" rel="noopener noreferrer"><svg class="icon is-stroke"><use xlink:href="#icon-link"></use></svg></a>{{/if}}
            </div>
        </article>
    {{/foreach}}
</div>

{{/get}}