{{!-- Layout --}}
{{!< default}}

{{#post}}

{{!-- Class for <body> --}}
{{#contentFor "special_body_class"}}is-article is-sidebar is-canvas-full{{/contentFor}}

<div class="container mx-auto px-4 py-vmin8">
    <div class="max-w-1100 max-w mx-auto grid gap-10 xl:gap-20 lg:grid-cols-sidebar">
        <article>
            <header class="story-post-header">
                <h1 class="text-4xl leading-tight text-title mb-5">{{title}}</h1>
                {{#if custom_excerpt}}<p class="post-excerpt my-6 text-xl text-gray-500">{{custom_excerpt}}</p>{{/if}}
                {{!-- Author - Primary Tag - Datetime - Read time - ./partials/components/author-meta.hbs --}}
                {{> "components/author-meta"}}

                {{#if feature_image}}
                <figure class="story-post-media mt-8 relative">
                    <img class="story-img block w-full object-cover object-center simply-zoom rounded-lg shadow-3xl overflow-hidden"
                        src="{{img_url feature_image size="m"}}"
                        srcset="{{img_url feature_image size="s"}} 300w,
                                {{img_url feature_image size="m"}} 600w"
                        sizes="(max-width: 1000px) 400px, 600px"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                    />

                    {{#if feature_image_caption}}<figcaption class="post-figcaption">{{feature_image_caption}}</figcaption>{{/if}}
                </figure>
                {{/if}}
            </header>

            <section id="post-body" class="post-body relative godo-canvas {{#match @custom.post_font "=" "font-serif"}}font-serif{{else}}font-sans{{/match}}">{{content}}</section>

            {{!-- Tags - ./partials/components/tags,hbs --}}
            <footer class="post-footer godo-canvas pt-10">
                {{> "components/tags"}}

                {{!-- Social Share - ./partials/components/social-share --}}
                {{> "components/social-share" Tracking_name="Footer" class="block"}}
            </footer>
        </article>

        {{!-- Sidebar - partials/sidebar/sidebar.hbs --}}
        {{>"sidebar/sidebar"}}
    </div>
</div>

{{/post}}

{{!-- 6 Related Articles - partials/article/article-related.hbs --}}
{{> "article/article-related"}}

{{!-- Post Commets - partials/article/article-comments.hbd --}}
{{#post}}{{> "article/article-comments"}}{{/post}}