{{!-- Layout --}}
{{!< default}}

{{#post}}

{{!-- Class for <body> --}}
{{!-- {{#contentFor "special_body_class"}}is-article is-article-image-right{{/contentFor}} --}}

<article class="post mb-10 relative">
    <header class="post-header grid md:grid-cols-2 lg:mx-12">
        <div class="flex flex-col justify-center px-4 py-vmin8 lg:mr-16">
            {{!-- [Title, Excerpt, Author, DateTime, Share]- partials/article/article-header.hbs --}}
            {{> "article/article-header"}}
        </div>

        {{#if feature_image}}
        <figure class="post-image flex flex-col -order-1 md:-order-none">
            <img class="w-full object-cover min-h-96 max-h-128 flex-grow"
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                sizes="(max-width: 400px) 300px,(max-width: 730px) 600px, (max-width: 1600px) 100vw"
                src="{{img_url feature_image size="xl"}}"
                alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}"
                width="750"
                height="520"
            />

            {{#if feature_image_caption}}<figcaption class="post-figcaption">{{feature_image_caption}}</figcaption>{{/if}}
        </figure>
        {{/if}}
    </header>

    {{!-- Article Body - partials/article/article-body.hbs --}}
    {{> "article/article-body"}}
</article>

{{/post}}

{{!-- 6 Related Articles - partials/article/article-related.hbs --}}
{{> "article/article-related"}}

{{!-- Post Commets - partials/article/article-comments.hbd --}}
{{#post}}{{> "article/article-comments"}}{{/post}}