<!DOCTYPE html>
<html>
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {{!-- Brand icon --}}
    <link rel="shortcut icon" href="{{asset "images/icon.png"}}" />
    <link rel="icon" sizes="192x192" href="{{asset "images/icon.png"}}" />

    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "styles/main.css"}}"/>

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="{{#is "index"}}is-frontpage{{/is}}{{#is "post"}}is-article{{/is}}{{#is "tag"}}is-tag{{/is}}{{#is "author"}}is-author{{/is}}" data-page="{{@blog.url}}">

    {{!-- Header Content --}}
    {{>"header"}}

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    <main class="main u-overflowHidden {{#is "tag, author"}}u-backgroundWhite{{/is}}">{{{body}}}</main>

    {{!-- Footer Content --}}
    {{>"footer"}}

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}
    {{!-- The main JavaScript file for Casper --}}
    <script type="text/javascript" src="{{asset "scripts/main.js"}}"></script>

    {{!-- Loandig Bar --}}
    <div class="loadingBar"></div>

    {{!--  Font Roboto  && Roboto Mono --}}
    <script type="text/javascript">WebFontConfig ={google:{families:['Droid+Serif:400,700','Source+Code+Pro','Source+Sans+Pro:300,400,600,700']}};(function(){var wf=document.createElement('script');wf.src=('https:'==document.location.protocol?'https':'http')+'://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js';wf.type='text/javascript';wf.async='true';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(wf,s);})();</script>
</body>
</html>
