<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{!--  Font -> PT Serif && Source sans Pro --}}
    <link href="https://fonts.googleapis.com/css?family=PT+Serif:400,400i,700,700i|Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">

    {{!-- Styles'n'Scripts --}}
    {{!-- <link rel="stylesheet" type="text/css" href="{{asset "styles/main.css"}}"/> --}}
    <style>{{> "styles"}}</style>

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="{{block "special_body_class"}}">
    {{!-- Header Content --}}
    {{>"header"}}

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    <main class="main u-relative">{{{body}}}</main>

    {{!-- Footer Content --}}
    {{>"footer"}}
    {{!-- {{>"footer-two"}} --}}

    {{!-- Search box --}}
    {{> "widget/search"}}

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}

    {{!-- Blog URL --}}
    <script>var siteUrl = '{{@site.url}}';</script>

    {{#if pagination.pages}}
        <script>var maxPages = parseInt('{{pagination.pages}}');</script>
    {{/if}}

    {{!-- Content APi --}}
    <script src="https://unpkg.com/@tryghost/content-api@1.0.0/umd/content-api.min.js" defer></script>
    {{!-- The main JavaScript --}}
    <script src="{{asset "scripts/main.js"}}" defer></script>
    {{!-- Search --}}
    <script src="{{asset "scripts/search.js"}}" defer></script>
    {{!-- Pagination --}}
    {{#if pagination.pages}}<script src="{{asset "scripts/pagination.js"}}" defer></script>{{/if}}

    {{!-- script --}}
    {{{block "scripts"}}}

    {{!-- Loandig Bar --}}
    <div class="loadingBar"></div>
    {{!-- Return home top page scroll --}}
    <a href="#" class="rocket u-hide-before-lg u-hide"><span class="svgIcon u-block">{{> "icons/rocket"}}</span></a>
</body>
</html>
