<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Page Meta --}}
    <title>{{meta_title}}</title>

    {{!-- Mobile Meta --}}
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{!--  Font -> Inter=400,600,700 Domine=400 --}}
    {{> "fonts"}}

    {{!--  Font -> PT Serif && Source sans Pro --}}
    {{!-- <link href="https://fonts.googleapis.com/css?family=Domine:400,700&display=swap" rel="stylesheet"> --}}


    {{!-- Styles'n'Scripts --}}
    <link rel="stylesheet" type="text/css" href="{{asset "styles/main.css"}}"/>
    {{!-- <style>{{> "styles"}}</style> --}}

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="{{block "special_body_class"}}">
    {{!-- Icons --}}
    {{> "icons/icons-symbol-defs"}}

    {{!-- Header Content --}}
    {{> "header"}}

    {{!-- Subscribe and tag -> this will be below the header --}}
    {{> "widget/subscribe-menu-tag"}}

    {{!-- All the main content gets inserted here, index.hbs, post.hbs, etc --}}
    <main class="main u-relative">{{{body}}}</main>

    {{!-- Footer Content --}}
    {{>"footer"}}
    {{!-- {{>"footer-two"}} --}}

    {{!-- Search box --}}
    {{> "widget/search"}}

    {{!-- Ghost outputs important scripts and data with this tag --}}
    {{ghost_foot}}

    {{!-- Blog URL --}}
    <script>
        var siteUrl = '{{@site.url}}';
        var siteSearch = '{{asset "scripts/search.js"}}';
        var sitePrismJs = '{{asset "scripts/prismjs.js"}}';
        var sitePrismJscomponents = '/assets/scripts/components/';
    </script>

    {{!-- Main scripts --}}
    <script src="{{asset "scripts/main.js"}}" defer async></script>

    {{!-- Paginastion --}}
    {{#if pagination.pages}}<script src="{{asset "scripts/pagination.js"}}" defer async></script>{{/if}}

    {{!-- script --}}
    {{{block "scripts"}}}

    {{!-- Loandig Bar --}}
    <div class="loadingBar"></div>

    {{!-- Back to top --}}
    <div class="back-to-top js-back-to-top u-hide-before-lg u-pointer u-fixed">
        {{> "icons/arrow-top"}}
        <p class="back-to-top-text u-fontSizeBase u-fontWeightSemibold">{{t "GO TOP"}}</p>
    </div>
</body>
</html>
