<!DOCTYPE html>
<html lang="{{lang}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>{{t "Page not found"}}</title>

    <link rel="stylesheet" type="text/css" href="{{asset "styles/main.css"}}" />

    {{!-- Ghost outputs important style and meta data with this tag --}}
    {{ghost_head}}
</head>
<body class="u-bgWhite">

    {{!-- Header Content --}}
    {{>"header"}}

    <main class="u-paddingBottom30 u-paddingTop30">
        {{!-- Content Emojis --}}
        <section class="errorPage u-lineHeight1">
            <div class="errorPage-wrap u-marginAuto u-maxWidth1000 u-textAlignCenter">
                <div id="emoji" class="errorPage-emoji" style="font-size:100px">(>_<)</div>
                <div class="errorPage-text">{{t "Unfortunately, this page doesn't exist"}}</div>
            </div>
        </section>

        {{!-- Articles style Card --}}
        {{#get "posts" limit="6" include="tags" as |recents| }}

        <div class="u-bgWhite u-paddingTop30 u-paddingBottom20">
            <div class="u-container u-maxWidth1040">
                <div class="row">
                    {{#foreach recents}}
                    <div class="col s12 m6 l4 u-flex">
                        {{!-- Meta - partials/story/story-card-small.hbs --}}
                        {{> "story/story-card-small"}}
                    </div>
                    {{/foreach}}
                </div>
            </div>
        </div>

        {{/get}}
    </main>

    {{!-- Search box --}}
    {{>"widget/search"}}

    {{!-- Blog URL --}}
    <script>var siteUrl = '{{@site.url}}';</script>

    <script type="text/javascript">
        var emoji = ['(·.·)', '(>_<)', '(^-^*)', '(≥o≤)', '(˚Δ˚)', '(·_·)', '(;-;)']
        var emojiRandom = emoji[Math.floor(Math.random()*emoji.length)];
        document.getElementById('emoji').innerHTML = emojiRandom;
    </script>

    {{!-- jQuery needs to come before `{{ghost_foot}}` so that jQuery can be used in code injection --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    {{!-- Content APi --}}
    <script src="https://unpkg.com/@tryghost/content-api@1.0.0/umd/content-api.min.js" defer></script>

    {{!-- Scripts --}}
    {{ghost_foot}}

    {{!-- The main JavaScript --}}
    <script type="text/javascript" src="{{asset "scripts/main.js"}}" defer></script>

    {{!--  Font Source sans Pro && roboto mono --}}
    <script type="text/javascript">WebFontConfig ={google:{families:['Roboto+Mono:400','Source+Sans+Pro:300,400,600,700']}};(function(){var wf=document.createElement('script');wf.src='https://ajax.googleapis.com/ajax/libs/webfont/1.6.16/webfont.js';wf.type='text/javascript';wf.async='true';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(wf,s);})();</script>
</body>
</html>
