{{!< default}}

{{!-- Publication Cover - partials/home/publication-cover.hbs --}}
{{> "home/publication-cover"}}

<div class="container mx-auto px-4 py-vmin8 grid gap-10 xl:gap-20 lg:grid-cols-sidebar">
    <div>
        <div class="js-feed-entry">
            {{#foreach posts}}

            <article class="js-story mb-12 flex justify-between items-center">
                <header class="mr-5 w-full">
                    <div class="mb-2 flex flex-row items-center">
                        {{#primary_author}}
                        <a href="{{url}}" title="{{t "Go to the profile of"}} {{name}}">
                            <img class="w-5 h-5 object-cover rounded-full"
                                src="{{#if profile_image}}{{img_url profile_image size="xs"}}{{else}}{{asset "images/avatar.png"}}{{/if}}"
                                width="20"
                                height="20"
                                alt="{{t "Go to the profile of "}} {{name}}"/>
                        </a>

                        <div class="ml-2 text-sm">
                            <a href="{{url}}">{{name}}</a>
                            {{/primary_author}}
                            {{#if primary_tag}}<span class="text-gray-500">{{t "in"}}</span> <a href="{{primary_tag.url}}">{{primary_tag.name}}</a>{{/if}}
                        </div>
                    </div>

                    <a href="{{url}}">
                        <h2 class="text-2xl line-clamp-2 text-title leading-tight">{{title}}</h2>
                        {{#if excerpt}}<p class="mt-2 text-gray-500 text-base line-clamp-2">{{excerpt characters="150"}}</p>{{/if}}
                    </a>

                    {{!-- Date Time and reading Time - ./partials/components/datetime.hbs --}}
                    {{> "components/datetime" class="mt-3 text-gray-500 text-sm"}}
                </header>

                {{#if feature_image}}
                <a href="{{url}}" class="flex-none">
                    {{!-- Featured Image - ./partials/components/featured-image.hbs --}}
                    {{> "components/featured-image"
                        mediaImage=feature_image
                        mediaAlt=feature_image_alt
                        mediaSize="s"
                        mediaClass="h-32 object-cover w-52"
                        mediaLazy=true
                    }}
                </a>
                {{/if}}
            </article>
            {{/foreach}}
        </div>

        {{!-- Pagination - partials/pagination.hbs --}}
        {{pagination}}
    </div>

    {{!-- Sidebar - partials/sidebar/sidebar.hbs --}}
    {{>"sidebar/sidebar"}}
</div>