{{!-- Layout --}}
{{!< default}}

{{!-- custom Styles For tag <body> --}}
{{#contentFor "special_body_class"}}is-home is-frontpage{{/contentFor}}

{{#is "paged"}}

<div class="site-post container mx-auto py-vmin8">
    <div class="js-feed-entry max-w-1100 mx-auto grid md:grid-cols-2 lg:grid-cols-12 gap-6">
        {{#foreach posts}}
            {{#has number="7, 8"}}
                {{> "story/story-grid" story_class="ss2 lg:col-span-6"}}
            {{else}}
                {{> "story/story-grid" story_class="lg:col-span-4"}}
            {{/has}}
        {{/foreach}}
    </div>

    {{!-- Pagination - partials/pagination.hbs --}}
    {{pagination}}
</div>

{{else}}

<section class="homeHero pt-10">
    <div class="homeHero-container container mx-auto flex flex-col items-stretch md:flex-row md:flex-wrap lg: lg:flex-nowrap">

        {{!-- Fisrt Large Post - partials/home/home-first-post.hbs --}}
        {{#foreach posts limit="1"}} {{> "home/home-first-post"}} {{/foreach}}

        {{!-- Post small - partials/home/home-small-post.hbs --}}
        <div class="homeHero-smallCardWrap flex flex-col md:w-3/6 lg:w-full lg:max-w-sm">
            {{#foreach posts from="2" to="4"}} {{> "home/home-small-post"}} {{/foreach}}
        </div>

        {{!-- Post medium - partials/home/home-medium-post.hbs --}}
        {{#foreach posts from="5" to="5"}} {{> "home/home-medium-post"}} {{/foreach}}
    </div>
</section>

<div class="site-post container mx-auto py-vmin8">
    <div class="js-feed-entry max-w-1100 mx-auto grid md:grid-cols-2 lg:grid-cols-12 gap-6">
        {{#foreach posts from="6" to="14"}}
            {{#has number="12, 13"}}
                {{> "story/story-grid" story_class="ss2 lg:col-span-6"}}
            {{else has number="14"}}
                {{> "story/story-grid" story_class="ss1 grid lg:col-span-full lg:grid-cols-3 gap-6"}}
            {{else}}
                {{> "story/story-grid" story_class="lg:col-span-4"}}
            {{/has}}
        {{/foreach}}
    </div>

    {{!-- Pagination - partials/pagination.hbs --}}
    {{pagination}}
</div>

{{/is}}