{{!-- Layout --}}
{{!< default}}

{{!-- custom Styles For tag <body> --}}
{{#contentFor "special_body_class"}}{{#is "home"}}is-home{{/is}} is-frontpage{{/contentFor}}

<section class="feed-entry-content u-container u-marginTop30">
    {{!-- Ad --}}
    {{> "ad/ad-home-top"}}

    <div class="feed-entry-wrap u-maxWidth1100 u-marginAuto">
        <div class="row">
            {{#foreach posts}}
                {{!-- <div class="col s12 m6 {{#has number="1"}}l12 ss1{{else has number="5, 6"}}s6 ss2{{else}}l4{{/has}}"></div> --}}
                <div class="col s12 m6 {{#has number="1"}}l12 ss1{{else has number="5, 6"}}s6 ss2{{else}}l4{{/has}}">
                    {{> "story/story-grid" }}
                </div>

                {{!-- ad --}}
                {{#has number="6"}}<div class="col s12">{{> "ad/ad-home-medium"}}</div>{{/has}}
                {{#has number="12"}}<div class="col s12">{{> "ad/ad-home-footer"}}</div>{{/has}}
            {{/foreach}}
        </div>
    </div>
</section>

{{!-- Pagination - partials/pagination.hbs --}}
{{"pagination"}}
