{{!< default}}

{{#contentFor "special_body_class"}}is-article{{/contentFor}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<article class="post u-marginBottom40 u-relative">

    <header class="post-header u-container u-maxWidth740 u-paddingTop30">
        <h1 class="post-title u-fontSize40 u-paddingTop20 u-contentTitle u-paddingBottom2 u-fontWeightBold u-md-fontSizeLarger">{{title}}</h1>
    </header>

    {{!-- Figure --}}
    {{#if feature_image}}
        <figure class="post-image u-block u-marginAuto u-marginTop30 u-maxWidth1100">
            <img
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                sizes="(max-width: 400px) 300px,(max-width: 730px) 600px, (max-width: 1600px) 1000px"
                src="{{img_url feature_image size="xl"}}"
                alt="{{title}}"
                class="u-block u-marginAuto"
            />
        </figure>
    {{/if}}

    <section id="post-body" class="post-body u-container u-maxWidth740 u-relative u-clear">
        {{content}}
    </section>

</article>

{{/post}}
