{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<article class="post u-marginBottom40 u-relative">

    <header class="post-header u-container u-maxWidth740 u-paddingTop30">
        {{!-- entry meta < author avtar, name, fisrt tag, datetime> --}}
        {{>"card-meta"}}

        <h1 class="post-title u-fontSize40 u-paddingTop20 u-contentTitle u-paddingBottom2 u-fontWeightBold u-md-fontSizeLarger">{{title}}</h1>

        {{!-- excerpt  --}}
        {{#if custom_excerpt}}<p class="post-excerpt u-textColorNormal u-fontSize28 u-marginBottom20 u-paddingTop5" style="line-height:1.22;letter-spacing:-.022em">{{custom_excerpt}}</p>{{/if}}
    </header>

    {{!-- Video Post Format --}}
    {{#has tag="#video-post-format"}}
        <div class="video-post-format u-marginAuto u-maxWidth1000"></div>
            {{!-- <div class="video-responsive"></div> --}}
            {{!-- <div class="u-flex u-flexWrap u-paddingTop20 u-fontSize15 u-flexCenter channel-name u-hide"><div class="g-ytsubscribe" data-channelid="" data-layout="default" data-count="default"></div></div> --}}

    {{else}}
        {{!-- Figure --}}
        {{#if feature_image}}
            <figure class="post-image u-block u-marginAuto u-marginTop30 {{#has tag="#image-post-format"}}u-sizeFullWidth{{else}}u-maxWidth1000{{/has}}">
                <img src="{{feature_image}}" class="u-block u-marginAuto" alt="{{title}}" {{^has tag="#image-post-format"}}data-action="zoom"{{/has}}/>
            </figure>
        {{/if}}
    {{/has}}


    <section class="post-body u-container u-maxWidth740 u-relative u-clear">
        {{!-- Share post --}}
        <div class="sharePost u-textAlignCenter u-hide-before-lg">
            <div class="share-box">
                <span class="share-count u-block u-fontWeightBold u-contentTitle" data-url="{{url absolute="true"}}">0</span>
                <span class="share-label u-block u-textColorNormal u-contentTitle u-fontSizeSmaller">SHARES</span>
            </div>
            <a href="#" class="simply-tracking simply-share i-facebook bg-facebook u-fontSize20 u-block" data-share="facebook" data-url="{{url absolute="true"}}" data-event-category="Article" data-event-action="Share" data-event-label="Facebook" data-event-non-interaction="1"></a>
            <a href="#" class="simply-tracking simply-share i-twitter bg-twitter u-fontSize20 u-block" data-share="twitter" data-url="{{url absolute="true"}}" data-title="{{title}} {{#if @blog.twitter}}by {{@blog.twitter}}{{/if}}" data-event-category="Article" data-event-action="Share" data-event-label="Twitter" data-event-non-interaction="1"></a>
            <a href="#" class="simply-tracking simply-share i-reddit bg-reddit u-fontSize20 u-block" data-share="reddit" data-url="{{url absolute="true"}}" data-event-category="Article" data-event-action="Share" data-event-label="Reddit" data-event-non-interaction="1"></a>
            <a href="#" class="simply-tracking simply-share i-linkedin bg-linkedin u-fontSize20 u-block" data-share="linkedin" data-url="{{url absolute="true"}}" data-event-category="Article" data-event-action="Share" data-event-label="Linkedin" data-event-non-interaction="1"></a>
            <a href="#" class="simply-tracking simply-share i-pinterest bg-pinterest u-fontSize20 u-block" data-share="pinterest" data-url="{{url absolute="true"}}" data-title="{{title}}" data-event-category="Article" data-event-action="Share" data-event-label="pinterest" data-event-non-interaction="1"></a>
        </div>

        {{content}}

    </section>

    <footer class="post-footer u-container u-maxWidth740 u-paddingTop20 u-paddingBottom20">
        {{!-- Email subscribe form at the bottom of the page --}}
        {{#if @labs.subscribers}}
        <div class="post-newsletter u-marginAuto u-textAlignCenter u-marginBottom20">
            <h5 class="newsletter-title u-fontSize28 u-fontWeightBold u-marginBottom15">Sign up for my newsletter!</h5>
            <div class="newsletter-description u-fontSizeSmall" style="color: #5f5f5f">Get the latest posts delivered right to your inbox</div>

            {{subscribe_form
            form_class="simply-subscribe-tracking newsletter-form u-marginAuto u-flex u-paddingTop30 u-paddingBottom20"
            input_class="form--input u-block u-fontSize20"
            button_class="form--btn u-relative u-overflowHidden u-fontSizeLarge i-send"
            placeholder="yourname@example.com"
            autofocus=""
            }}
        </div>
        {{/if}}

        {{!-- Post All Tags (category) --}}
        {{#if tags}}
        <div class="post-tags">
            {{#foreach tags}}<a href="{{url absolute="true"}}" title="{{name}}" class="button simply-tracking" data-event-category="Article" data-event-action="Tags" data-event-label="{{name}}" data-event-non-interaction="1">{{name}}</a>{{/foreach}}
        </div>
        {{/if}}
    </footer>

</article>

{{/post}}

{{!-- post relative --}}
{{>"post-related"}}

{{#post}}
    {{!-- post Commets --}}
    {{>"post-comments"}}

    {{!-- Post Actions (next and prev post, share social media, cout share in facebook) --}}
    {{>"post-actions"}}

    {{!-- Instgram Feed --}}
    {{>"instagram-feed"}}
{{/post}}
