{{!-- Layout --}}
{{!< default}}

{{#post}}

{{!-- Class for <body> --}}
{{#contentFor "special_body_class"}}is-article{{/contentFor}}

<article class="post u-marginBottom40 u-relative">
    {{!-- Article Header - paertials/article/article-header.hbs --}}
    {{> "article/article-header"}}

    {{#if feature_image}}
        <figure class="post-image u-block u-marginAuto u-sizeFullHeight u-sizeFullWidth u-maxWidth1000">
            <img class="u-block u-marginAuto u-sizeFullWidth simply-zoom"
                srcset="{{img_url feature_image size="s"}} 300w,
                        {{img_url feature_image size="m"}} 600w,
                        {{img_url feature_image size="l"}} 1000w,
                        {{img_url feature_image size="xl"}} 2000w"
                sizes="(max-width: 400px) 300px,(max-width: 730px) 600px, (max-width: 1600px) 100vw"
                src="{{img_url feature_image size="xl"}}"
                alt="{{title}}"
            />
        </figure>
    {{/if}}

    <div class="post-wrap u-maxWidth1000 u-relative u-marginAuto">
        {{!-- All Content --}}
        <div id="post-body" class="post-body u-container u-maxWidth740 u-relative">{{content}}</div>
    </div>

    <footer class="post-footer u-container u-maxWidth740">
        {{!-- Tags (category) --}}
        {{> "article/article-tags"}}

        <hr>
        <div class="prev-next">
            {{#prev_post}}
                {{> "story/story-previous-next" storyTitle=(t "Previous article") class="u-marginBottom30"}}
            {{/prev_post}}

            {{#next_post}}
                {{> "story/story-previous-next" storyTitle=(t "Next article") class=""}}
            {{/next_post}}
        </div>
        <hr>
    </footer>
</article>

{{/post}}

{{!-- Article related - partials/article/article-related.hbs --}}
{{> "article/article-related"}}

{{#post}}
    {{!-- post Commets --}}
    {{> "article/article-comments"}}

    {{!-- Share Article - Facebook Twitter Whatsapp --}}
    {{> "article/article-share-sticky"}}
{{/post}}