{{!< default}}

{{!-- Everything inside the #post tags pulls data from the post --}}
{{#post}}

<article class="post u-marginBottom40 u-marginAuto u-maxWidth1000 u-relative">

    <header class="post-header u-container u-maxWidth740 u-paddingTop30">
        {{!-- entry meta < author avtar, name, fisrt tag, datetime> --}}
        {{>"entry-meta"}}

        <h1 class="post-title u-fontSize40 u-paddingTop20 u-contentTitle u-paddingBottom2 u-fontWeightBold">{{title}}</h1>
    </header>

    {{!-- Figure --}}
    {{#if image}}
    <figure class="post-image u-paddingTop30 u-block">
        <img src="{{image}}" class="u-block u-marginAuto" alt="{{title}}">
    </figure>
    {{/if}}

    <section class="post-body u-container u-maxWidth740 u-relative">
        {{content}}

        {{!-- Share post --}}
        <div class="sharePost u-absolute u-textAlignCenter u-hide-before-lg">
            <div class="share-box">
                <span class="share-count u-block u-fontWeightBold u-contentTitle" data-url="{{url absolute="true"}}">0</span>
                <span class="share-label u-block u-textColorNormal u-contentTitle u-fontSizeSmaller">SHARES</span>
            </div>
            <a href="#" class="i-facebook bg-facebook u-fontSize20 u-block"></a>
            <a href="#" class="i-twitter bg-twitter u-fontSize20 u-block"></a>
            <a href="#" class="i-reddit bg-reddit u-fontSize20 u-block"></a>
            <a href="#" class="i-linkedin bg-linkedin u-fontSize20 u-block"></a>
            <a href="#" class="i-pinterest bg-pinterest u-fontSize20 u-block"></a>
        </div>
    </section>

    <footer class="post-footer u-container u-maxWidth740 u-paddingTop20 u-paddingBottom20">
        {{!-- Email subscribe form at the bottom of the page --}}
        {{#if @labs.subscribers}}
        <div class="post-newsletter u-marginAuto u-textAlignCenter u-paddingTop30 u-paddingBottom20">
            <h5 class="u-fontSize28 u-fontWeightBold">Subscribe to</h5>

            {{subscribe_form
            form_class="newsletter-form u-marginAuto u-flex u-paddingTop30 u-paddingBottom20"
            input_class="form--input u-block u-fontSize20"
            button_class="form--btn u-relative u-overflowHidden u-fontSizeLarge i-send"
            placeholder="yourname@example.com"
            autofocus=""
            }}
        </div>
        {{/if}}

        {{!-- Post All Tags (category) --}}
        {{#if tags}}
        <div class="post-tags">
            {{#foreach tags}}<a href="{{url}}" title="{{name}}" class="button">{{name}}</a>{{/foreach}}
        </div>
        {{/if}}
    </footer>

</article>

{{/post}}

{{!-- post relative --}}
{{>"post-related"}}

{{#post}}
    {{!-- post Commets --}}
    {{>"post-comments"}}
    {{!-- Post Actions (next and prev post, share social media, cout share in facebook) --}}
    {{>"post-actions"}}
{{/post}}
