{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{#tag}}

{{!-- custom Styles For tag <body> --}}
{{#contentFor "special_body_class"}}is-tag{{/contentFor}}

<section class="tag py-12 md:py-vw6 bg-gray-150">
    <div class="mx-auto px-4 max-w-5xl text-center">
        <h1 class="capitalize text-4xl text-title lg:text-5xl">{{name}}</h1>

        <div class="text-center font-medium mt-8">
            <a class="hover:text-primary" href="{{@site.url}}">{{t "Home"}}</a>
            <svg class="icon h-3 w-3"><use xlink:href="#icon-arrow-forward"></use></svg>
            <span class="text-gray-500">{{t "Posts Tagged"}} "{{name}}"</span>
        </div>

        {{#if description}}<p class="text-xl mt-5 font-serif max-w-xl mx-auto">{{description}}</p>{{/if}}
    </div>
</section>
{{/tag}}

{{!-- The tag below includes the post loop - partials/loop.hbs --}}
{{>"loop"}}