<aside class="sharePost u-textAlignCenter u-hide-before-lg">
    <div class="sr-wrap">
        <div class="share-box">
        <span class="share-count u-block u-fontWeightBold u-contentTitle" data-url="{{url absolute="true"}}">0</span>
        <span class="share-label u-block u-textColorNormal u-contentTitle u-fontSizeSmaller u-textUppercase">SHARES</span>
    </div>
    <a href="#" class="godo-tracking simply-share i-facebook bg-facebook" title="{{t "Share on"}} Facebook" data-share="facebook" data-url="{{url absolute="true"}}" data-event-category="Article" data-event-action="Share" data-event-label="Facebook" data-event-non-interaction="true"></a>
    <a href="#" class="godo-tracking simply-share i-twitter bg-twitter" title="{{t "Share on"}} Twitter" data-share="twitter" data-url="{{url absolute="true"}}" data-title="{{title}} {{#if @blog.twitter}}by {{@blog.twitter}}{{/if}}" data-event-category="Article" data-event-action="Share" data-event-label="Twitter" data-event-non-interaction="true"></a>
    <a href="#" class="godo-tracking simply-share i-reddit bg-reddit" title="{{t "Share on"}} Redit" data-share="reddit" data-url="{{url absolute="true"}}" data-event-category="Article" data-event-action="Share" data-event-label="Reddit" data-event-non-interaction="true"></a>
    <a href="#" class="godo-tracking simply-share i-linkedin bg-linkedin" title="{{t "Share on"}} Linkeding" data-share="linkedin" data-url="{{url absolute="true"}}" data-event-category="Article" data-event-action="Share" data-event-label="Linkedin" data-event-non-interaction="true"></a>
    <a href="#" class="godo-tracking simply-share i-pinterest bg-pinterest" title="{{t "Share on"}} Pinterest" data-share="pinterest" data-url="{{url absolute="true"}}" data-title="{{title}}" data-event-category="Article" data-event-action="Share" data-event-label="Pinterest" data-event-non-interaction="true"></a>
    </div>
</aside>
