{{!-- Post Actions share and next post--}}
<div class="pa is-visible">
    <div class="pa-wrap u-marginAuto u-flex">
        <div class="u-flex u-flex1 u-flexCenter u-hide-before-lg">
            {{!-- Prev Post--}}
            {{#prev_post}}
            <div class="nextPost godo-tracking" data-event-category="Article" data-event-action="Previous - Article" data-event-label="{{url absolute="true"}}" data-event-non-interaction="true">
                <a href="{{url}}" class="u-block">
                    <span class="u-block link--accent u-fontSizeSmaller u-lineHeight1 u-fontWeightSemibold">{{t "Prev article"}}</span>
                    <h4 class="u-contentTitle u-fontSizeSmall u-noWrapWithEllipsis u-fontWeightBold">{{title}}</h4>
                </a>
            </div>
            <div class="separator"></div>
            {{/prev_post}}

            <a href="#post-comments" class="button js-scroll-id godo-tracking js-comments u-hide" data-event-category="Article" data-event-action="Comments" data-event-label="Click" data-event-non-interaction="true">
                <svg class="icon"><use xlink:href="#icon-comments"></use></svg>
                {{!-- Disqus Comments Count --}}
                <span class="disqus-comment-count u-fontSizeSmall" data-disqus-url="{{url absolute="true"}}">0 {{t "Comments"}}</span>
            </a>
        </div>

        {{!-- post Share--}}
        <div class="pa-share u-flex u-flex1 u-flexCenter buttonSet">
            <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                target="_blank"
                rel="noopener noreferrer"
                title="{{t "Share on"}} Facebook"
                class="godo-tracking button bg-facebook u-textColorWhite js-share"
                data-event-category="Article"
                data-event-action="Share"
                data-event-label="Facebook - Footer"
                data-event-non-interaction="true">
                <svg class="icon"><use xlink:href="#icon-facebook"></use></svg>
                Share
            </a>
            <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                target="_blank"
                rel="noopener noreferrer"
                title="{{t "Share on"}} Twitter"
                class="godo-tracking button bg-twitter u-textColorWhite js-share"
                data-event-category="Article"
                data-event-action="Share"
                data-event-label="Twitter - Footer"
                data-event-non-interaction="true">
                <svg class="icon"><use xlink:href="#icon-twitter"></use></svg>
                Tweet
            </a>
            <a href="whatsapp://send?text={{url absolute="true"}}"
                target="_blank"
                rel="noopener noreferrer"
                class="godo-tracking button u-textColorWhite bg-whatsapp u-hide-after-md"
                data-event-category="Article"
                data-event-action="Share"
                data-event-label="Whatsapp - Footer"
                data-event-non-interaction="true">
                <svg class="icon"><use xlink:href="#icon-whatsapp"></use></svg>
                Send
            </a>
        </div>

        <div class="u-flex u-flex0 u-flexCenter u-hide-before-lg">
            {{!-- next Post--}}
            {{#next_post}}
            <div class="separator"></div>
            <div class="nextPost godo-tracking" data-event-category="Article" data-event-action="Next - Article" data-event-label="{{url absolute="true"}}" data-event-non-interaction="true">
                <a href="{{url}}" class="u-block">
                    <span class="u-block link--accent u-fontSizeSmaller u-lineHeight1 u-fontWeightSemibold">{{t "Next article"}}</span>
                    <h4 class="u-contentTitle u-fontSizeSmall u-noWrapWithEllipsis u-fontWeightBold">{{title}}</h4>
                </a>
            </div>
            {{/next_post}}
        </div>

    </div>
</div>
