{{#if primary_tag}}
{{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{comment_id}}" limit="4" as |related_posts|}}
{{#if related_posts}}
    <div class="related u-container">

        {{#foreach related_posts}}
        <div class="story">
            <a href="{{url absolute="true"}}amp" class="story-link u-block u-relative">
                <span class="story-link-icon">{{@number}}</span>
                <span class="story-link-text">{{title}}</span>
            </a>
        </div>
        {{/foreach}}

    </div>
{{/if}}{{/get}}{{/if}}