<header class="header h-16 flex items-center container justify-between">
    {{!--
        - Active Logo in AMP Page
        - uncomment the lines below.
        - but in the width and height properties (width="110" height="30")
        - you have to add exact sizes of your reduced logo
        - so you do not have problems with amp

        - then comment page name
    --}}

    {{!-- <a href="{{@site.url}}">
        <amp-img src="{{@site.logo}}" width="110" height="30" alt="{{@site.title}}"></amp-img>
    </a> --}}

    <a href="{{@site.url}}" class="logo-link">
        {{#if @site.icon}}
            <amp-img class="site-icon" src="{{img_url @site.icon size="s" absolute="true"}}" width="35" height="35" layout="fixed" alt="{{@site.title}}"></amp-img>
        {{else}}
            {{@site.title}}
        {{/if}}
    </a>

    {{!-- Open Sidenav --}}
    <button class="hamburgermenu text-gray-500" on="tap:sidenav.open" tabindex="0" aria-label="Toggle Menu"><span></span><span></span><span></span></button>
</header>