{{#if primary_tag}}
{{#get "posts" filter="tags:{{primary_tag.slug}}+id:-{{comment_id}}" limit="4" as |related_posts|}}
{{#if related_posts}}
    <div class="related container mt-8">
        <div class="share-title block text-gray-500 text-sm mb-3">{{t "Related Articles"}}:</div>

        {{#foreach related_posts}}
        <div class="story">
            <a href="{{url absolute="true"}}amp/" class="story-link relative flex items-center mb-3">
                <span class="story-link-icon felx items-center flex-none mr-3">{{@number}}</span>
                <span class="story-link-text leading-snug">{{title}}</span>
            </a>
        </div>
        {{/foreach}}

    </div>
{{/if}}{{/get}}{{/if}}