{{!< ../default}}

{{!-- Class for <body> --}}
{{#contentFor "special_body_class"}}is-membership{{/contentFor}}

{{#if @member.paid}}
    {{!-- Logged in, paying member: Redirect home --}}
    <script>window.location = '{{@site.url}}';</script>

{{else}}

<header class="checkout-header">
    <div class="px-4 py-vw6 mx-auto max-w-3xl text-center">
        <h1 class="text-5xl text-title lg:text-5xl">Simply plans for everyone</h1>
        <div class="mt-8 text-xl text-gray-500">Start for free, buy it when you 💚 it</div>
    </div>
</header>

<section class="mb-24 px-4">
    <div class="plan-wrap max-w-1100 mx-auto grid gap-6 md:grid-cols-2 lg:grid-cols-12">

        {{#get "tiers" include="monthly_price,benefits" limit="all" as |tiers|}}
            {{#foreach tiers}}
                <div class="plan-box plab-box-{{name}} p-8 shadow-lg lg:col-span-4 bg-gray-100">
                    <header class="plan-box-header">
                        <h3 class="text-base font-semibold uppercase mb-2 text-title tracking-wide">{{name}}</h3>
                        {{#if description}}<p class="text-gray-500">{{description}}</p>{{/if}}

                        {{#if monthly_price}}
                            <div class="text-3xl my-8 leading-none text-title">
                                <span class="font-semibold">{{price monthly_price currency=currency}}</span>
                                <span class="text-base text-gray-500">/ Monthly</span>
                            </div>

                            <a href="javascript:" class="button is-primary" data-portal="signup/{{id}}/monthly">Choose this plan</a>
                        {{else}}
                            <a href="javascript:" class="button is-primary mt-8" data-portal="signup">Get Started</a>
                        {{/if}}
                    </header>

                    {{#if benefits}}
                    <div class="plan-box-body mt-8 leading-tight">
                        <ul>
                        {{#foreach benefits as |benefit|}}
                            <li class="flex self-start mb-2 items-center">
                                {{!-- <svg class="text-primary flex-none mr-2 icon"><use xlink:href="#icon-checkmark"></use></svg> --}}
                                <svg width="15" height="14" viewBox="0 0 15 14" fill="none" xmlns="http://www.w3.org/2000/svg" class="mr-2 h-3 w-3 stroke-current" alt=""><path d="M1 6.89286L6.10714 12L13.9643 1" stroke-width="2"></path></svg>
                                <span>{{benefit}}</span>
                            </li>
                        {{/foreach}}
                        </ul>
                    </div>
                    {{/if}}
                </div>
            {{/foreach}}
        {{/get}}

    </div>

    {{!-- Optional Note --}}
    <div class="mt-20 mx-auto max-w-xl px-4 text-center">
        <p><strong>Please note:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras imperdiet, erat vel fringilla mattis, diam arcu malesuada dolor, at varius massa eros et orci. Fusce non lectus vulputate, laoreet ligula.</p>
    </div>

</section>

{{/if}}