{{#if background}}
<img class="image-inset blur-up lazyload"
    src="{{img_url background size="m"}}"
    srcset="{{img_url background size="xxs"}}"
    data-srcset="{{img_url background size="s"}} 300w,
            {{img_url background size="m"}} 600w,
            {{img_url background size="l"}} 1000w,
            {{img_url background size="xl"}} 2000w"
    data-sizes="(max-width: 800px) 400px, (max-width: 1170px) 700px, 1400px"
    alt="{{title}}"
/>

{{#if gradient}}<div class="simply-cover-gradient absolute inset-0 z-2 bg-black bg-opacity-40"></div>{{/if}}
{{/if}}