<div class="hh-date u-flexCenter {{#if class}}{{class}}{{else}}u-textMuted u-fontSizeSmaller{{/if}}">
    <time class="datetime u-textCapitalize" datetime="{{date format="YYYY-MM-DD"}}">{{date format="D MMM YYYY"}}</time>
    <span class="bull">&bull;</span>
    <span class="readingTime" style="cursor:default" title="{{reading_time seconds=(t "< 1 min read") minute=(t "1 min read") minutes=(t "% min read")}}">{{reading_time seconds=(t "< 1 min read") minute=(t "1 min read") minutes=(t "% min read")}}</span>
    {{#if featured}}<svg class="icon icon--star icon--xs"><use xlink:href="#icon-star"></use></svg>{{/if}}
</div>