<div class="hh flex items-center flex-auto relative leading-snug z-4">

    {{#unless hide_avatar}}
    <ul class="flex flex-wrap flex-none mr-3 -space-x-2">
        {{#foreach authors}}
        <li>
            <a href="{{url}}" title="{{t "Go to the profile of"}} {{name}}">
                <img class="object-cover rounded-full {{#is "post"}}h-10 w-10{{else}}h-9 w-9{{/is}}"
                    src="{{#if profile_image}}{{img_url profile_image size="xs"}}{{else}}{{asset "images/avatar.png"}}{{/if}}"
                    alt="{{t "Go to the profile of "}} {{name}}"
                    width="36"
                    height="36"
                />
            </a>
        </li>
        {{/foreach}}
    </ul>
    {{/unless}}

    <div class="flex-auto overflow-hidden">
        <div class="hh-author-name text-sm truncate">
        {{#has author="count:>2"}}{{t "Multiple authors"}}{{else}}{{authors class="false"}}{{/has}}
        </div>

        {{!-- Date Time and reading Time - ./partials/components/datetime.hbs --}}
        {{> "components/datetime"}}
    </div>
</div>