<div class="hh flex items-center relative z-4 flex-auto leading-snug overflow-hidden">
    {{#unless hide_avatar}}
    <ul class="hh-author flex flex-wrap flex-none mr-3">
        {{#foreach authors}}
        <li class="hh-author-item realtive">
            <a href="{{url}}" title="{{t "Go to the profile of"}} {{name}}" class="relative block avatar {{#is "post"}}is-45x45{{/is}}">
                <img
                    class="object-cover rounded-full"
                    src="{{#if profile_image}}{{img_url profile_image size="xs"}}{{else}}{{asset "images/avatar.png"}}{{/if}}"
                    alt="{{t "Go to the profile of "}} {{name}}"
                    width="36"
                    height="36"
                />
            </a>
        </li>
        {{/foreach}}
    </ul>
    {{/unless}}

    <div class="hh-right flex-auto overflow-hidden">
        <div class="hh-author-name text-sm noWrapWithEllipsis">
        {{#has author="count:>2"}}{{t "Multiple authors"}}{{else}}{{authors}}{{/has}}
        </div>

        {{!-- Date Time and reading Time - ./partials/components/datetime.hbs --}}
        {{> "components/datetime"}}
    </div>
</div>