<div class="hh-date flex items-center{{#if class}} {{class}}{{else}} text-gray-500 text-sm{{/if}}">
    <time class="datetime capitalize" datetime="{{date format="YYYY-MM-DD"}}" {{#if updated_at}}title="{{t "Updated"}} {{date updated_at format="D MMM YYYY"}}"{{/if}}>{{date format="D MMM YYYY"}}</time>
    <span class="bull mx-1">·</span>
    <span class="readingTime cursor-default" title="{{reading_time seconds=(t "< 1 min read") minute=(t "1 min read") minutes=(t "% min read")}}">{{reading_time seconds=(t "< 1 min read") minute=(t "1 min read") minutes=(t "% min read")}}</span>
    {{#if featured}}<svg class="icon icon--star is-small p-1"><use xlink:href="#icon-star"></use></svg>{{/if}}
</div>