{{#if background}}
<img class="inset-image blur-up lazyload"
    src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
    data-srcset="{{img_url background size="s"}} 300w,
            {{img_url background size="m"}} 600w,
            {{img_url background size="l"}} 1000w,
            {{img_url background size="xl"}} 2000w"
    data-sizes="auto"
    width="1200"
    height="628"
    alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{alt_title}}{{/if}}"
/>

{{#if has_gradient}}<div class="simply-cover-gradient absolute inset-0 z-2 bg-black bg-opacity-50"></div>{{/if}}
{{/if}}