<a href="{{primary_tag.url}}"
    title="{{t "Go to"}} {{primary_tag.name}}"
    class="button is-x-small is-dark-blue {{#if class}}{{class}}{{else}}mt-3 mr-3{{/if}}"
    {{#if primary_tag.accent_color}}style="background-color:{{primary_tag.accent_color}}"{{/if}}>
    {{primary_tag.name}}
</a>