<a href="{{primary_tag.url}}"
    title="{{t "Go to"}} {{primary_tag.name}}"
    class="py-1 px-2 rounded inline-block text-xs bg-dark-blue-500 text-white font-semibold uppercase {{#if class}}{{class}}{{else}}mt-3 mr-3{{/if}}"
    {{#if primary_tag.accent_color}}style="background-color:{{primary_tag.accent_color}}"{{/if}}>
    {{primary_tag.name}}
</a>