<article class="homeHero-mediumCard flex-auto w-full mt-8 lg:ml-6 lg:mt-0 lg:max-w-xs">
    <a href="{{url}}" class="hhp-image">
        <div class="hhp-img relative h-40 mb-4">
            {{#if feature_image}}
            <img class="inset-image"
                src="{{img_url feature_image size="s"}}"
                srcset="{{img_url feature_image size="s"}} 300w,{{img_url feature_image size="m"}} 600w"
                alt="{{title}}"
                width="320"
                height="160"
            />
            {{/if}}
        </div>
    </a>

    <div class="hhp-body mb-4">
        <h2 class="hhp-title text-2xl mb-3 leading-tight text-title line-clamp-2">
            <a href="{{url}}">{{title}}</a>
        </h2>

        {{#if excerpt}}
        <div class="hhp-excerpt text-lg leading-snug line-clamp-3 mb-3 text-gray-500">
            <a href="{{url}}">{{excerpt words="30"}}</a>
        </div>
        {{/if}}
    </div>

    {{!-- Author - Primary Tag - Datetime - Read time - ./partials/components/author-meta.hbs --}}
    {{> "components/author-meta" hide_avatar=true}}
</article>